[2013-10-09 01:10] danielhochman opened #8 "Copy method cannot read response"
I am trying a simple case of inserting to an empty test table using the COPY method. Vertica 6.1.1.

[code]

Results in:

[code]

The table remains empty after the code has run.

[2013-10-09 17:35] #8 closed, assigned to nobody

[2013-11-08 22:45] yang opened #12 "DBAPI spec conformance"
Thanks for putting out this code!

Any chance of seeing the library's API conform to the Python standard DB API?

http://www.python.org/dev/peps/pep-0249/

That way it would play well with other code in the Python DB ecosystem, such as sqlalchemy.

(Speaking of which - any tips on quickly getting this going with sqlalchemy?)

[2014-02-06 16:16] dusts66 opened #17 "CRUD Operations"
Sorry to leave an Issue, but there was no email address to contact.  My question is does the driver support normal CRUD operations?

[2014-02-11 02:38] truncs opened #18 "handler in cursor.execute throw error"
As the readme.md mentions I tried using the handler but it throws an error. Upon looking at the code I don't see anything that supports it either. Am I missing something ?

[2014-02-13 06:06] #18 closed, assigned to nobody

[2014-03-19 11:21] jakubjedelsky opened #21 "please set 0.2.0 tag on github"
Is there some reason for not setting tag 0.2.0 on github? It is quite different from what pypi says.

Many thanks!

[2014-03-19 16:09] #21 closed, assigned to nobody

[2014-03-25 21:53] jakubjedelsky opened #22 "psycopg2"
You use psycopg2 module in [vertica/cursor.py](https://github.com/uber/vertica-python/blob/master/vertica_python/vertica/cursor.py#L47), but it isn't in requirements. Shouldn't it be there? Or don't you plan to replace it? I'm preparing an rpm package for fedora/epel and need to add psycopg2 as dependency.

[2014-04-15 09:54] jakubjedelsky opened #25 "0.2.1 tag"
Please add tag for 0.2.1 version. I use github as main source in RPM packages, so I can't update packages effectively (and officially). Thanks!

[2014-04-15 16:18] #25 closed, assigned to nobody

[2014-05-20 18:00] kevints opened #27 "setup.py depends on pip.req, causing pants to fail with twitter.common.python"
[Pants](http://pantsbuild.github.io/python-readme.html) runs `setup.py` in an isolated sys.path containing only stdlib modules. Since pip is not part of the stdlib until Python 3.4 ([PEP-453](http://legacy.python.org/dev/peps/pep-0453/)) it's not available in this environment causing pip to fail.

[code]

Cc: @wickman

[2014-05-20 18:19] #17 closed, assigned to nobody

[2014-05-29 00:11] #27 closed, assigned to nobody

[2014-05-29 00:25] #22 closed, assigned to nobody

[2014-05-29 00:27] #12 closed, assigned to nobody

[2014-06-03 20:05] nchammas opened #29 "connect() chokes on unicode arguments"
Passing in a dictionary with unicode keys and values to `connect()` yields:

The stack trace leads back [here](https://github.com/uber/vertica-python/blob/ec2a26ab7956311792720562db2e60c3a34e186b/vertica_python/vertica/connection.py#L136).

I'm not sure how other database modules handle unicode connection parameters, but I think `psycopg2` accepts them. Does it make sense to modify `vertica-python

[2014-06-03 20:19] nchammas opened #30 "extend connections to be context managers"
[For example](http://initd.org/psycopg/docs/usage.html#with-statement):

Right now this doesn't appear to be possible in `vertica-python`. It would be nice to have similar behavior, though I gather this is [not a standard part](http://stackoverflow.com/a/15568275/877069) of the Python DB API.

[2014-06-13 02:59] #30 closed, assigned to nobody

[2014-07-30 21:29] ruwen opened #34 "Problem with nordic character i.e. ä"
Got this error on this line in connection.py  self.connection.write(messages.Query(operation))

when execute('update users set lastname= :lastname where username = :username', {'lastname': 'someöö', 'username': 'sss'}

Is it a encoding problem?

[2014-10-31 18:54] xwolfgan opened #38 "any plan to make this work with Python 3 ?"
currently it is not compatible.

[2014-10-31 20:01] #38 closed, assigned to nobody

[2015-03-02 16:01] jaceksan opened #43 "COPY FROM LOCAL does not work?"
I am not sure, if COPY FROM LOCAL should work, so do not hesitate to close this issue with status "not yet implemented" ;-)

Please, see simple PoC demonstrating the issue here:
https://github.com/jaceksan/vertica-python/blob/copy_local_poc/jacek/copy_local_poc.py

[2015-03-25 11:35] Maksim-Vatkin opened #46 "Dependency on Unix specific package crypt"
I got the following while trying
from vertica_python import connect

ImportError                               Traceback (most recent call last)
<ipython-input-1-e8ba213fe24f> in <module>()
----> 1 from vertica_python import connect

build\bdist.win32\egg\vertica_python\__init__.py in <module>()

build\bdist.win32\egg\vertica_python\vertica\connection.py in <module>()

build\bdist.win32\egg\vertic

[2015-04-08 08:03] zer0n opened #47 "How to iterate rows?"
In the current implementation, is there a way to iterate and process rows without loading all rows in raw form into memory?

[2015-04-08 08:24] zer0n commented on #47
Never mind. I didn't read the README carefully.

[2015-04-08 08:44] zer0n commented on #47
I've read the README but instantiating the cursor with a handler isn't quite the same. For example, if I want to write a query result to a csv file with header, I need to run the query and write the header first, before iterating rows and calling the handler for each row.

Or am I missing something?

[2015-04-08 18:20] alexjikim commented on #47
i think in your case you'll need to write the header to a file prior to issuing a query. the row handler function would contain the logic to append a row to open file. if im understanding your question correctly...

[2015-04-08 18:30] alexjikim commented on #43
ah yes. copy from stdin is the only thing we support at the moment. ill leave this open as a feature request, but i dont think we have any plans to add this at the moment.

[2015-04-08 18:42] alexjikim commented on #46
I believe this shoud be fixed as of: https://github.com/uber/vertica-python/pull/44

[2015-04-08 18:42] #46 closed

[2015-04-09 16:33] zer0n commented on #47
How do we know the header before executing the query?

[2015-04-09 17:48] alexjikim commented on #47
ah ok i see the problem now. for a hacky workaround, i would try executing the query with a LIMIT 0 to only get the header information back, then execute again using the handler.

Ill close this issue out, but feel free to open a new one with a more appropriate title regarding not being able to access header info in a streaming query.

[2015-04-09 18:18] zer0n commented on #47
Well, my way was using get_one_row() and checking for None, i.e. the same way fetchall() is implemented.

But that's exactly what an iterator is about. By not having an iterator, we encourage users to use fetchall() and then iterate over fetchall(). I have seen so many of that.

[2015-04-13 07:46] sagi-schein opened #49 "vertica-python on Windows"
it seems that the package imports crypt which is not supported on Windows.
Any way around this ?

[2015-04-13 08:28] jakubjedelsky commented on #49
Try to check #46 and #44

[2015-04-13 10:19] sagi-schein commented on #49
pulled the version from pypi - which is 3 month old.

[2015-04-13 18:47] alexjikim commented on #49
just pushed master as v 0.3.6 to pypi

[2015-04-13 18:47] #49 closed

[2015-04-15 11:17] jakubjedelsky opened #50 "Release versioning"
Hi,
fedora/epel package maintainer here. I have a small request - is it possible to tag releases of your code in one way? There are tags starting with "v" (eg. v0.3.5) and others without (eg. 0.3.6).
Thanks!

[2015-04-15 19:47] alexjikim commented on #50
not using a 'v' should be our standard. is this a request for going forward, or is this something you were hoping could be fixed for old released versions?

[2015-04-16 08:02] jakubjedelsky commented on #50
It's definitely wish for going forward :)

[2015-04-24 21:20] zer0n commented on #47
Resolved: https://github.com/uber/vertica-python/commit/224626777faef9efb9169da463653a583717cd3e

[2015-04-24 21:20] #47 closed

[2015-04-29 18:10] arsturges opened #54 "named arguments collide in substrings"
If I use the named arguments `:s` and `:start_date`, then `:start_date` gets interpreted as `:s` and `tart_date`
[code]
yields
[code]

[2015-04-29 22:06] vrbala opened #55 "vertica-python 0.4.1 errors on commit"
*vertica-python version: 0.4.1*
*vertica version: 7.0.1-4*

Please look at the script below:

[code]
This is a contrived example but when I run this script,

[code]

[2015-04-29 23:21] zer0n commented on #55
Confirm the bug. I only tested with `select` query and ignored update queries.

[2015-04-30 05:27] zer0n commented on #55
Fixed here: https://github.com/uber/vertica-python/commit/932fe36bfb8744d903332201a0981954029f8fa2

[2015-04-30 05:28] zer0n commented on #55
@vrbala Can you try again?

[2015-04-30 16:20] vrbala commented on #55
LGTM!

Tested with the script below -

[code]

Thanks!

[2015-04-30 16:28] vrbala commented on #55
@zer0n Is there a unit test suite for vertica-python?

[2015-04-30 16:51] zer0n commented on #55
There's no test suite yet. Would you want to add?

[2015-04-30 18:58] vrbala commented on #55
Yes, I would. But this needs running instances of vertica (may be multiple versions) to run the tests against. How to handle that?

[2015-04-30 20:02] zer0n commented on #55
You can write tests leaving the connection info as parameters. If someone wants to test before commits, they can run:
`python tests.py -host ... -user ...`

[2015-04-30 20:52] vrbala commented on #55
I think I will work on it sometime. Will send a PR when I have something decent.

[2015-04-30 23:24] zer0n commented on #55
Cool. We are reaching a point where  a test suit is needed.

On Thu, Apr 30, 2015 at 1:52 PM, Balamurugan V R <notifications@github.com>
wrote:

[2015-05-01 00:51] vrbala commented on #55
I think I had run the gun in the morning test. It seems we have serious issue with this release. See below -

[code]

When I run the script,

% python vertica-test.py
[[u'Vertica Analytic Database v7.1.1-11']]
[[Decimal('1'), u'1'], [Decimal('1'), u'1']]
[[2]]
[]
[[1]]
[]
[[Decimal('1'), u'1'], [Decimal('1'), u'1']]

The test table had 2 lines originally [[1,1],[1,1]]. If you notice even after the

[2015-05-01 00:54] jberka commented on #55
What happens if you do ```c.execute("insert into schema.bala_test values (1, 1); COMMIT;")```?

The transaction may be getting discarded once the next execute starts.

Also, if anyone needs Vertica for testing, they have a free Community Edition.

[2015-05-01 01:04] vrbala commented on #55
This seems to work. Is this a changed behavior?

I wouldn't expect a transaction to get discarded on subsequent executes on the same connection.

[2015-05-01 01:42] jberka commented on #55
A few thoughts, in no particular order:

- Does vertica.log have anything useful in it? Sometimes the log is useful to see what Vertica last sent (vs. what the connector is processing).

- You may also want to put a print statement in the read_message function to dump every message. Your comment from a week or so ago that sometimes the message is a NoticeResponse (vs. a CommandComplete) has me thi

[2015-05-01 02:04] vrbala commented on #55
Yes "COMMIT" at the end of the statements work.
OK, I am going to try these things but not sure when I can post my results. Will do so ASAP.

Is there a write up available somewhere that explains the vertica protocol over a raw socket? May help me pickup things a bit faster.

What is the path of vertica.log file?

[2015-05-01 16:31] vrbala commented on #55
Looks like I have identified the cause of the issue. It is potentially due to the connection.reset_connection in cursor.execute method. This causes a connection reset after for every call to execute. Please correct me if I have misunderstood something.

[2015-05-01 17:11] jberka commented on #55
That seems correct to me; because of the break in the iterator, self.last_execution is never getting unset anywhere (basically, the cursor is never cleaning up after itself). I think setting self.last_execution to None on CommandComplete or ReadyForQuery may work, but that change would require a bit of testing.

@vrbala The Vertica wire protocol is pretty close to the one used by Postgres, so this

[2015-05-01 18:18] vrbala commented on #55
Cool, thanks! will take a look. I will also close this one and open a new issue to track this bug.

[2015-05-01 18:18] #55 closed

[2015-05-01 18:24] vrbala opened #56 "connection reset in cursor.execute"
Please see below

[code]

When I run the script,

% python vertica-test.py
[[u'Vertica Analytic Database v7.1.1-11']]
[[Decimal('1'), u'1'], [Decimal('1'), u'1']]
[[2]]
[]
[[1]]
[]
[[Decimal('1'), u'1'], [Decimal('1'), u'1']]

The test table had 2 lines originally [[1,1],[1,1]]. If you notice even after the update and insert queries, nothing has changed in the tables.

Analysis shows that the rese

[2015-05-02 23:07] zer0n commented on #56
Please review the fix and test if it indeed fixes the issue: https://github.com/uber/vertica-python/commit/a04d4ec5fc5ab96256f5d243ed62d6526ed705e7

[2015-05-02 23:08] zer0n commented on #56
+ @jberka

[2015-05-02 23:13] zer0n commented on #56
I haven't tested and am not sure if the issue is due to flushed connection or due to incomplete processing for queries. Regardless, the changes would make the code more robust even if it doesn't address the issue reported here.

[2015-05-03 06:14] vrbala commented on #56
I can test this on Monday. Meanwhile I have posted my comments and some questions based on the observations.

[2015-05-04 00:09] jberka commented on #56
Wall of text incoming...

@zer0n Thanks for the fix; I think this should properly handle the CommandComplete (I suspect that on a COMMIT, the message sequence is CommandComplete followed by a ReadyForQuery, which should now get picked up). There is some additional data (CommandComplete messages should return a row count and a tag, similar to ReadyForQuery returning the transaction status) that cou

[2015-05-04 03:48] Bennyelg opened #58 "Connection VIA DSN?"
connection = connect({
    'host': '127.0.0.1',
    'port': 5433,
    'user': 'some_user',
    'password': 'some_password',
    'database': 'a_database'

    })
any way to do it like pyodbc:
e.g.
vertica_python.connect('host=xxx.xxx.xxx;dsn=vertica;uid=vertica')
?

[2015-05-04 03:59] jberka commented on #58
I don't think so (but I'm not totally familiar with ODBC, which is how this project came to exist in the first place). Because this library doesn't use ODBC at all (it's a Python implementation of the actual protocol, and doesn't require any ODBC libraries to be installed), we don't have any kind of ODBC config file that would support the format you're asking about.

[2015-05-04 08:06] Bennyelg commented on #58
Thanks, I thought I'll be more easy to use if we specify less details although this connector is awesome already.

:)

[2015-05-04 17:42] vrbala commented on #56
IMHO, open transactions should be supported as this gives the user an option to fire an insert/update and commit/rollback the changes later. I know this pattern is more common in OLTP than OLAP, but when data corrections happen in OLAP I think this gives more flexibility than forcing the user to combine a commit in every insert/update. And, backward compatibility - I know that this breaks code tha

[2015-05-04 19:18] zer0n commented on #56
@jberka Good points. I've added calling connection.process_message if message is not a data row in fetchone() to the PR.

@vrbala If we clear the message buffer in execute instead of reset the connection, that would solve the problem. Would you want to go ahead with a PR?

[2015-05-04 21:43] jberka commented on #56
@vrbala Thanks for the message log; it definitely looks like a ReadyForQuery is being missed in some cases.

@zer0n Thanks. I finally downloaded the Vertica VM, so I may try and make a few other fixes/add tests/etc.

[2015-05-04 22:26] vrbala commented on #56
@zer0n No, please go ahead with the change as you know the context much better.

@jberka Is vertica VM publicly downloadable? I tried to stand up a community edition on my laptop but couldn't get it up working (mostly configuration & certificate issues).

[2015-05-04 22:35] jberka commented on #56
Yup, if you download VirtualBox (https://www.virtualbox.org/) and the "VMWare vSphere 4.0 (OVF)" virtual machine from https://my.vertica.com/download-community-edition/, it only takes a few minutes to get a database set up (via admintools).

[2015-05-04 23:05] vrbala commented on #56
Awesome, thanks!

@zer0n I fixed one more bug in my tree. I will send a PR for clearing message buffer as well as the new issue tonight PDT. I will base it off of commit 6b980016bc461bc2a3f58e86614aa3a2479c147e.

[2015-05-05 00:01] jberka commented on #58
@zer0n can you close this?

[2015-05-05 00:03] jberka commented on #50
@jakubjedelsky It looks like most of the last releases have been '0.x.x', so I'd plan on that being the versioning going forward. I'll add a comment to the setup file with that instruction next time I'm in there, too.

[2015-05-05 00:12] jberka commented on #54
I see what's going on here, I'll fix it sometime in the next few days.

[2015-05-05 00:24] #58 closed

[2015-05-05 00:24] zer0n commented on #58
@jberka done

[2015-05-05 00:50] jberka commented on #34
I'll see if I can sort this one out.

[2015-05-05 00:50] jberka commented on #29
Will look into this one.

[2015-05-05 04:08] jberka commented on #34
@ruwen Not sure if you're still dealing with this, but on the off chance you are, which version of the library this occur with? I can't reproduce it with the current version.

At the moment, non-ASCII characters seem to work fine with a Unicode query string. Using them as parameter values is broken due to an issue with psycopg2, which I'm still trying to find a workaround for.

[2015-05-05 08:24] ruwen commented on #34
@jberka It's solved now. Solution is in 6a044c8718ed9ef34458735438fd7b354e286bb6

[2015-05-05 08:24] #34 closed

[2015-05-05 17:41] jberka commented on #34
What are your locale settings? I changed the parameter substitution around a bit, and the psycopg2 adapt() and getquoted() functions are causing some issues with Unicode parameters now.

[2015-05-08 06:32] rjaiwal5139 opened #62 "Inserts fail with Cannot commit: No transaction in progress"
from vertica_python import connect

def get_connection():
    return connect({
            'host': '192.168.19.170',
            'port': 5433,
            'user': 'vertica_dba',
            'password': 'password',
            'database': 'ceilometer'
    })

with get_connection() as conn:
        insert_stmt = "INSERT INTO %s..."
        cur = conn.cursor()
        cur.execute(insert_stmt)

fails

[2015-05-08 12:16] Bennyelg commented on #62
Same Issue over here.

[2015-05-08 12:19] Bennyelg commented on #56
I tried to dig into this issue but couldn't understand why it's happening. maybe its a transnational problem ?

[2015-05-08 17:24] alexjikim commented on #62
will take a look at this and other issues starting with version 4.x today

[2015-05-08 18:28] jberka commented on #62
What version are you using, and can you paste the full insert statement? This is working for me on the latest master.

[code]

Result:
[code]

[2015-05-08 18:28] jberka commented on #62
@rjaiwal5139 @Bennyelg See above ^

[2015-05-08 18:29] jberka commented on #54
@alexjikim Fixed, can you close this?

[2015-05-08 18:29] jberka commented on #29
@alexjikim Also fixed.

[2015-05-08 18:31] #54 closed

[2015-05-08 18:31] #29 closed

[2015-05-08 19:25] Bennyelg commented on #62
Thanks! I was 2 versions back in some strange reason :/

[2015-05-08 19:39] rjaiwal5139 commented on #62
I am on vertica 7.1.1-0 and this is my insert statement -

insert_stmt = "INSERT INTO %s (meter_id, meter_name, meter_type,
meter_unit) " \
                  "VALUES (HEX_TO_BINARY('%s'), '%s', '%s', '%s'); COMMIT;"
%\
                  (table_name, meter_id, name, _type, unit)

still get the error - vertica_python.errors.QueryError: Unexpected message
type, SQL: 'commit'

On Fri, May 8, 2015 at 1

[2015-05-08 19:47] jberka commented on #62
Interesting. My guess would be that the hex getting adding to the query is causing something to break; I don't think use of the HEX_TO_BINARY() function has come up before.

Could you provide a sample set of values that cause the error? The table schema for the destination table would also be helpful.

[2015-05-08 21:02] rjaiwal5139 commented on #62
'INSERT INTO meter (meter_id, meter_name, meter_type, meter_unit) VALUES (\\'6310387d8bfdac272678bd54c691e7b1460b6f45\\'), \\'hello-world\\', \\'gauge\\', \\'hw\\'); COMMIT;'

Following is the schema -

| column_name                                                                                                                     | data_type

[2015-05-08 21:13] jberka commented on #62
I'm still having trouble reproducing this. Maybe the quote escaping is causing problems?

Using a test table with a BINARY(20) column:
[code]

Result
[code]

[2015-05-08 21:14] jberka commented on #62
Are you using the latest version of the package?

[2015-05-08 21:24] rjaiwal5139 commented on #62
I was using 0.4.1

[2015-05-08 21:24] rjaiwal5139 commented on #62
i got 0.4.3, let me try with that

[2015-05-08 23:37] alexjikim commented on #56
i think this should be fixed as of 0.4.5. (https://github.com/uber/vertica-python/pull/63)
Please try upgrading and reopen this if you still see issues.

[2015-05-08 23:37] #56 closed

[2015-05-08 23:38] #50 closed

[2015-05-10 08:39] Bennyelg commented on #62
Update to 0.4.5 it's work perfect there, anyone can confirm and close this thread?

[2015-05-10 10:37] sisoftrg opened #64 ""Cursor is closed" exception after upgrading to 0.4.5"
After upgrading to 0.4.5 I'm got 'Cursor is closed' exception on second query. code example:
[code]

[code]

this worked fine before and works with other sql databases.

[2015-05-10 17:36] Bennyelg commented on #64
Check this case and you are right there is a problem.
probably something small in the cursor class I will check it

[2015-05-11 01:57] vrbala commented on #64
connection.Connection uses cursor.Cursor as singleton created in constructor. And, after cursor.close() is called marking a cursor as closed, there is no reinitialization in next call to connection.cursor causing the error.

[2015-05-11 08:03] Bennyelg commented on #64
Implement Singleton in python is a bad practice from the beginning.

[2015-05-11 15:23] rjaiwal5139 opened #65 "ConnectionError: Connection is closed when used in a multithreaded environment with Eventlet"

[2015-05-11 17:50] alexjikim commented on #65
are you sharing connections between threads? vertica-python only attempts to maintain dbapi threadsafety=1 (connections can't be shared).

[2015-05-11 18:56] alexjikim commented on #64
i patched 0.4.6 to reopen the cursor on connection.cursor().

as things are implemented now, the connection/cursor objects are tightly coupled so we cant support multiple cursors per connection (the cursor is a property of connection). As such, "closing" a cursor would probably means one of two things: 1) closing the connection, 2) simply marking it as "closed", but nothing else.

I've gone forwar

[2015-05-11 18:56] #64 closed

[2015-05-11 19:12] Bennyelg commented on #64
This is pretty clear.
Agree on that: Connection should hold only 1 cursor. 1:1 (connection/cursor) relationship is acceptable and very reasonable. multi cursor can cause issues. (on same connection)
Regarding the simply marking as a closed , mark as close will be clear, but an option to 're-open' it and not the connection itself could be good? think it's a minor fix.

[2015-05-11 19:17] alexjikim commented on #64
0.4.6 will reopen the cursor (not create a new connection) if you call conn.cursor() again, so your script should work. Or did you mean have a way to explicitly reopen the cursor in the cursor object?

[2015-05-11 19:20] Bennyelg commented on #64
When I open a connection it should be 1 connection. if i close it i will have to reopen it again.
But -> if I close cursor and want to use it again and the connection is still open, a simple  if check will do the trick and activate it again. a cursor close after each execute should be good practice do you think guys?

[2015-05-11 19:22] Bennyelg commented on #64
@alexjikim  we understand each other .. ;] you did right on 0.4.6

[2015-05-12 03:52] vrbala commented on #64
@alexjikim I understand that cursor.close exists merely to be compatible with python db api. Closing a cursor and opening it for use is pretty much a NO-OP. Maybe it is worth documenting? For anybody taking a first look, they expectation will be to have a separate cursor for every call to connection.cursor. 1:N connection to cursor doesn't add much value though. So it can be left alone after addin

[2015-05-12 17:30] alexjikim commented on #64
hm good to know. will keep in mind for a future update.

[2015-05-14 11:50] sl4dy opened #66 "Support for UPDATE, DELETE statements"
Is there any chance to support these additional statements?

Thx

[2015-05-14 12:34] Bennyelg commented on #66
Its support already.
https://github.com/uber/vertica-python/blob/master/vertica_python/tests/basic_tests.py

[2015-05-15 01:31] #66 closed

[2015-05-15 01:33] alexjikim commented on #62
going to close as it sounds like its been fixed.

[2015-05-15 01:33] #62 closed

[2015-05-31 03:59] mverrilli opened #68 "vertica_python.errors.ConnectionError: unsupported authentication method: 9"
I'm not sure if a setting changed on the cluster I connect to or not, however I started getting this error out of the blue, nothing has changed on the code side. It happens on connect using:

     { 'host': 'vertica', 'port': 5433, 'user': 'someuser', 'password': 'somepassword', 'database': 'MYDB'}

Any ideas where to look or what this is about?

[2015-05-31 04:10] mverrilli commented on #68
Ok I figured it out. The password expired for this user.  Probably best to handle this a better way.

[2015-07-07 18:36] brettlaforge opened #71 "DELETE / UPDATE statements do not set rowcount"
The rowcount variable is not set when using a DELETE or UPDATE statement.

[2015-08-14 09:26] davidhewitt opened #74 "Cursor.nextset support?"
Hey there,

We've been using vertica-python to run SQL queries containing multiple insert statements (into temp tables) followed by a select statement at the end to join all the temp table data and pull it out, e.g.

    INSERT INTO temp_table (...) SELECT ... ;
    INSERT INTO temp_table (...) SELECT ... ;
    INSERT INTO temp_table (...) SELECT ... ;
    SELECT ... from temp_table WHERE ...;

So

[2015-08-14 16:00] BasilPH commented on #38
Any news on this? I would really appreciate it if this also worked with python 3. Otherwise this library is a joy to work with.

[2015-08-15 01:05] alexjikim commented on #38
sorry, but we dont currently have plans to add python 3 support

[2015-08-15 01:14] alexjikim commented on #74
Im not sure i understand whats happening. is select returning the wrong thing? row_count?

[2015-08-15 21:25] Bennyelg commented on #38
to convert this code into python 3 is a huge work and I guess they don't have time.
I'm fan of python 2 (legacy) so I have no complains.

[2015-08-16 06:37] Bennyelg commented on #74
This is what happening i guess :
"""Somewhere around this commit I think vertica-python's behaviour changed to return the result of the first statement rather than the last:"""

[2015-08-16 07:58] davidhewitt commented on #74
Hey,

I think this is the way to repro (don't have my laptop with me this weekend, so this is from memory). Try running something like this:

    conn = connect(...)
    c = conn.cursor()
    c.execute("select 1; select 2;")
    print c.fetchall()

From what I'm getting, on vertica-python 0.3.6 the returned result will be 2, and on vertica-python 0.5 the returned result will be 1.

The .nextset()

[2015-08-18 03:10] pandyajay10 opened #75 "cursor.description.name returns "sum","sum when using select sum(column"

[2015-08-18 03:13] pandyajay10 opened #76 "Bug : cursor.description[idx].name returns only function name when we use an aggregate function on a column"
when using cursor.description.name on select sum(a), sum(b) from temp_table we get name = "sum" for both columns while the name should also include attribute ( sum(a) ) to make name unique. We are facing an issue due to this bug.

[2015-08-18 03:14] #75 closed

[2015-08-18 03:18] mverrilli commented on #76
Someone can correct me if I am wrong, but I believe this is a Vertica thing when you do not alias your columns, not a vertica-python thing. Just alias them and it should be fine.  select sum(a) as sum_a, sum(b) as sum_b from temp_table. Or if you really want them to be the full formula, you could use quoted identifiers.  select sum(a) as "sum(a)", sum(b) as "sum(b)" from temp_table

[2015-08-18 08:38] pandyajay10 commented on #76
I am using this library to for a vertica UI hence trying to support all types of generic queries.  Thats why I know aliasing would work but it would be better if there was a generic solution.

[2015-08-18 14:46] mverrilli commented on #76
Well, vertica_python would only return what Vertica hands it.  For example, if you run your query in vsql, it will also tell you the column names are both "sum".  To do what you are suggesting in vertica_python, they would have to parse the SQL and while I'm not a project contributor, I would guess that this is out of scope.

I think you'll have to accept that column names may not be unique, and r

[2015-08-19 07:39] eliangcs opened #77 "cursor.rowcount is incorrect"
In vertica_python 0.3.6, it was ok:

[code]

But in the latest 0.5.1, you have to iterate all rows to get rowcount:
[code]

[2015-09-20 00:45] alexjikim commented on #65
closing this issue since as i believe the behavior is expected given vertica_python's limitations on connection sharing

[2015-09-20 00:45] #65 closed

[2015-09-20 02:53] alexjikim commented on #71
For delete/update statements, the rowcount is currently returned as a one element row, and can be retrieved using fetchone()

This is not to dbapi spec, so ive updated the readme to rowcount in vertica_python and how it behaves.

[2015-09-20 02:53] #71 closed

[2015-09-20 02:59] alexjikim commented on #77
in 0.3.6, vertica python read all rows into memory when execute() is called.
In 0.5.x, rows are streamed so the actual rowcount is unknown until all the data is read, which is why you are seeing this behavior.

I took another look at the messages that vertica returns, and i havent been able to find a way to determine rowcount without either reading all of the data, or doing some sort of select cou

[2015-09-20 02:59] #77 closed

[2015-09-20 03:03] alexjikim commented on #76
As @mverrilli mentioned, vertica_python is simply returning the column names provided by vertica. Parsing the sql query to try to change this feels wrong and error prone, so i think ill leave this as is. I hope you are able to use aliasing to fix the issues you are running into.

[2015-09-20 03:03] #76 closed

[2015-09-20 23:03] alexjikim commented on #74
nextset() was added as a part of 0.5.2. check the readme for details on how it works. hope this resolves your issue.

[2015-09-20 23:03] #74 closed

[2015-09-20 23:18] alexjikim commented on #68
Couldn't find info on the actual error code being sent by vertica, but trying to be more helpful with this dumb error check:

1f8c62a5d9fdcf267dbe25a1c54c55b1e6696559

[2015-09-20 23:18] #68 closed

[2015-09-22 00:56] pandyajay10 commented on #76
Yes, I used deduping of column names and it worked. Thanks for helping.

[2015-10-01 06:40] srinivasakp opened #79 "executemany missing?"
Hello,

I see that the module is missing executemany function, Do you have any plans to implement it in next version?

Regards,
Srinivasa KP

[2015-10-16 16:17] alexjikim commented on #79
there are no current plans to implement executemany. whats your use case?

[2015-11-09 16:15] mverrilli opened #83 "read_timeout default"
When the read_timeout default is set to 10 minutes and I have a long running query, I get a connection timeout error.  Changing this to 60 minutes fixed my problem.

Does this parameter always cause a connection timeout for queries that exceed the timeout? (As in, is this the intent of this parameter, or is there some other side-effect going on, like a heartbeat not working, etc)  If so, 10 minute

[2015-11-10 00:05] alexjikim commented on #83
this error is thrown if no new messages are read from vertica for 10 minutes. as far as im aware, there isn't a heartbeat mechanism that we can use to check if the query is still being process (i could easily be missing something though). im open to increasing the default value if you think that makes more sense.

[2015-11-10 01:28] mverrilli commented on #83
In my case, I had a COPY statement taking 30 minutes to run and it would kick out for a Connection Timeout.  When I increased this number, it worked fine.  I was just not sure if this is the normal behavior in this circumstance, and if it is, then I just think more visibility needs to be around it because it's basically a max wait time for a query to return.  Incidentally, my query on the server c

[2015-11-10 01:30] mverrilli commented on #83
And while I'm thinking about this, I do like the idea of giving some max timeout before getting control back... What would be nice is if a query is executing, you could wait x seconds for a return or get control back and then go back into a wait state much like we do with sockets and queue waits.  I just don't want to lose my query if it takes too long.

[2015-11-11 05:02] bhushanuparkar opened #84 "how to use application load balancing with vertica-python module"
Could you please provide sample code to specify application load balancing as part opening connection with vertica python module.

{code}
'ConnectionLoadBalance' : 1
{code}

[2015-11-12 08:17] mnikhil-git commented on #84
to say how to provide backend options to startup message flow? I looked at http://www.postgresql.org/docs/9.2/static/protocol-message-formats.html StartupMessage documentation, it is unclear how the multiple options are to be passed followed by the terminator. It is also noted that the run time parameters could be set outside the startup message.

[2015-11-20 01:01] gled-rs opened #85 "python3.x support"
A patch is being made to support python3 by the debian guys ( attached to this issue ).

It may be great to integrate it in the source or in a branch for the nondebian users ?
[python3-vertica-patch.txt](https://github.com/uber/vertica-python/files/39626/python3-vertica-patch.txt)

[2015-11-20 19:33] alexjikim commented on #85
nice. i think a branch would be great. we can adopt a new tag format for the python 3.x releases.
ill clean up the current branch situation so its easier to find/use.

[2015-11-20 19:46] alexjikim commented on #84
sorry, but im not sure i understand the ask here.

vertica-python doesn't do any load balancing. if you want to load balance queries across your vertica cluster, that would have to be handled outside of this module.

[2015-11-20 20:42] gled-rs commented on #85
Sounds good, let me know if you need help !

[2015-12-01 21:37] alexjikim commented on #85
created a new branch with this patch applied; python3-master
(dont have an python 3 environment to test it though)

[2015-12-01 21:37] #85 closed

[2015-12-02 14:10] FredrikAppelros opened #89 "Version 0.5.4 is not Python 2 compatible"
The latest release of vertica-python on PyPi breaks compatibility with Python 2. This is not documented, and hopefully, not intentional.

A change made [here](https://github.com/uber/vertica-python/blob/master/vertica_python/vertica/messages/frontend_messages/query.py#L16) raises the following error when a connection attempt is made:
`vertica_python.errors.ConnectionError: str() takes at most 1 ar

[2015-12-02 20:33] asafpelegcodes commented on #89
Any plans to fix this?

[2015-12-02 21:08] alexjikim commented on #89
sorry about this, i think i accidentally pushed the python3 branch into 0.5.4.  i just released 0.5.5 to pypi which should fix this.

[2015-12-02 21:08] #89 closed

[2015-12-08 09:53] FredrikAppelros commented on #85
I think this issue should be reopened as the code in the `python3-master` branch does not work in either Python 3, nor Python 2. It's just broken.

[2015-12-15 01:24] gled-rs commented on #85
indeed the patch provided by debian is not enough on python-vertica 0.5.5 ( it's the debian maintainer who made it ) to fix python3.2+ compat.

One of the issue is here: http://bugs.python.org/issue10783 . in python3/3.1 pack was silently converting strings to UTF-8 bytes, and not anymore since python3.2 ( fix in progress in the patch attached ).

But patching that and a few errors message in catc

[2016-01-13 17:20] nchammas commented on #85
So is the current plan to support Python 3 on its own branch, as opposed to within the same codebase?

Also, if the library as it stands on `master` doesn't work with Python 3, then this issue should be reopened. Unless, of course, Python 3 support is not a goal.

[2016-01-13 17:30] nchammas opened #94 "0.5.5 release on GitHub is missing description and files"
Unlike the other [releases on GitHub](https://github.com/uber/vertica-python/releases), 0.5.5 appears to be missing a description as well as the usual source package.

[2016-01-14 20:06] nchammas opened #95 "Automated tests via Travis (or some other CI service)"
Are the maintainers interested in automating the project's tests via a CI service like Travis? We can use a dockerized instance of Vertica to enable this.

It'll let us test PRs and hopefully move more quickly on refactoring the codebase or adding stuff as the need arises.

[2016-01-23 20:44] nicktrav commented on #95
+1

[2016-01-24 01:47] nicktrav opened #96 "SSL socket is blocking"
When using an SSL connection, the socket blocks indefinitely.

Here's the [line](https://github.com/uber/vertica-python/blob/master/vertica_python/vertica/connection.py#L173) that is currently blocking the connection:
[code]

[Here is the patch](https://github.com/wvanbergen/vertica/commit/af9bb2d6478f28c9f34c5ca986e01983e9bd691a#diff-a981e6581267e2762c5b829a44cdfea6) that fixed the issue in the R

[2016-02-19 16:09] mverrilli opened #100 "Feature request: setting client_label"
I'm not sure if there is a way to do this, but it would be very helpful if we could set the client_label (like JDBC does).  This is also sometimes called a session label, I think.

[2016-03-30 09:16] intellectualanarchy opened #101 "import vertica_python"
after installing vertica-python, I encountered the following issue:

`import vertica_python`
  File "C:\Users\user_name\AppData\Local\Continuum\Anaconda3\lib\site-packages\vertica_python-0.5.5-py3.5.egg\vertica_python\vertica\connection.py", line 153
    except Exception, e:
                               ^
SyntaxError: invalid syntax

[2016-03-30 15:05] BasilPH commented on #101
What version of Python are you using? vertica-python does (sadly) not yet support Python 3. There is an unmerged pull request that adds support for Python 3: https://github.com/uber/vertica-python/pull/91

[2016-04-10 08:45] jbfavre commented on #85
Hello. I'm the debian maintainer for python-vertica.
Indeed, patch is broken, and I'm really sorry for that :-/

I'm trying to fix it for python-vertica 0.5.6, but got confused with master & python3-master differences.
I'd also like to have compatible code in master instead of separated branches.

[2016-04-22 13:36] aCLr opened #107 "update error using sqlalchemy"
Hi.
I use your library (0.5.5) with sqlalchemy (1.0.12) and get that situation:

`2016-04-22 16:26:24,691 INFO sqlalchemy.engine.base.Engine UPDATE orders SET comment=:comment, ts_last_activity=:ts_last_activity, state=:state, previous_state=:previous_state, flags=:flags WHERE orders.id = :orders_id
2016-04-22 16:26:24,691 INFO sqlalchemy.engine.base.Engine {'comment': '"last_activity"=>"2016-04-2

[2016-04-22 13:50] aCLr commented on #107
Here is the Mike Bayer's comment:

Can you implement the feature?

[2016-04-25 13:48] 164747 commented on #79
I have the same issue, I have a loop and generate a lot of objects. When I save them one-by-one, it takes ages. I suppose it would go faster if I could save them in one transaction.

[2016-04-25 15:11] mverrilli commented on #79
@164747 If you are doing insert values, look at using `copy` instead.  For example, I funnel all my inserts to a queue and read X records off the queue (or after Y minute timer hit) and do a single copy. It's very fast.

[2016-04-28 11:44] FredrikAppelros opened #111 "Release 0.6.0 does not install properly with pip"
Trying to import the latest release of vertica-python fails due to some dependencies are missing from `setup.py`:

	Python 2.7.11 (default, Jan 21 2016, 16:14:29)
	[GCC 4.8.4] on linux2
	Type "help", "copyright", "credits" or "license" for more information.

	Traceback (most recent call last):
	  File "<stdin>", line 1, in <module>
	  File "/home/fredrik/.pyenv/versions/vertica-test/lib/python2.7/

[2016-04-28 17:12] alexjikim commented on #111
sweet, thanks for the pull request

[2016-04-28 17:12] #111 closed

[2016-04-28 17:17] alexjikim commented on #101
this _should_ be fixed as of version 0.6.1

[2016-04-28 17:17] #101 closed

[2016-04-28 17:18] #96 closed

[2016-04-28 17:20] alexjikim commented on #94
think i just forgot to draft the tag as a release on github. wont happen again.

[2016-04-28 17:20] #94 closed

[2016-04-28 17:22] #84 closed

[2016-04-28 17:24] alexjikim commented on #79
yes, definitely use copy for writing many rows.
im closing this issue since its old, but feel free to reopen if theres a use case that executemany is required for.

[2016-04-28 17:24] #79 closed

[2016-04-29 10:31] FredrikAppelros opened #112 "Support for named parameters is broken in Python 3"
Support for named parameters is not working in Python 3. This seems to stem from how psycopg2 is used to quote the parameters.

The following example demonstrates how it breaks down for certain unicode characters:

[code]

We can also see it breaking down for ordinary characters that should not give us any issue regardless of what encoding we are using:

[code]

The issue comes from [this line](ht

[2016-04-29 11:57] FredrikAppelros commented on #112
Actually, in the first case, it's not just the extra `::bytea` that's causing the issue. It incorrectly quotes the backslashes in the byte array, causing them to be interpreted literally, instead of as escape characters.

	b"'\\\\341\\\\232\\\\261'::bytea"

	b'\xe1\x9a\xb1'

[2016-04-29 13:16] FredrikAppelros commented on #112
Not sure what the proper solution is here. Either we need to configure psycopg2 to quote the byte arrays the way we want it to, or we might need to write a new implementation for the quotation logic and remove the psycopg2 dependency.

Seems like psycopg2 can be configured to perform a proper quotation if the encoding is set to UTF-8:

	b"'\xe1\x9a\xb1'"

Now the problem is that I don't believe it

[2016-04-29 13:24] FredrikAppelros commented on #112
I improved one of the existing testcases to capture this issue in #113.

[2016-05-03 15:53] twneale opened #115 "SSL connections fail in python3 due to minor bytes/str distinction"
This one's an easy fix, pull request here: https://github.com/uber/vertica-python/pull/114

[2016-05-03 17:29] alexjikim commented on #115
thanks for the fix

[2016-05-03 17:29] #115 closed

[2016-05-03 18:00] alexjikim commented on #112
thanks for the investigation into this. the psycopg2 dependency is one that id rather not have, but implementing custom logic for quoting/escaping seemed very error prone.

when i get a chance ill try to poke around the psycopg2 code and see if theres a workaround.

[2016-05-11 05:20] dennisobrien opened #116 "Python3 cursor.description uses bytes objects for column names instead of strings"
First -- great work bringing Python3 compatibility!

Now to the bug...

When accessing the names of columns from a result set using vertica-python under Python3, the values are byte objects instead of strings.  This breaks things like pandas code that expects to access column names by their string value, not by a bytes object.

Here's an example run on Ubuntu 14.04.4, Python 3.4.3, vertica-python

[2016-05-11 19:08] trianta2 opened #117 "Python 3 timestamp_tz_parse TypeError"
The following function:
[code]
raises `TypeError: endswith first arg must be bytes or a tuple of bytes, not str` at [this line](https://github.com/uber/vertica-python/blob/master/vertica_python/vertica/column.py#L66).

It appears that `s` is a bytes object, not str. Changing `if s.endswith('+00'):` to `if s.endswith(b'+00'):` resolves the issue for me.

I'm using:
 - Python 3.4.4
 - vertica-python

[2016-05-16 07:21] dennisobrien commented on #117
A Vertica `TimestampTz` column gets parsed by `timestamp_tz_parse` while a `Timestamp` column gets parsed by `timestamp_parse`.  The `timestamp_parse` method ends up calling `datetime.strptime` which does require a string.  In this case it might be better to just coerce to strings in these functions.

This code path calls `timestamp_parse`:
[code]
and throws this exception:
[code]

While this code

[2016-05-19 07:30] dennisobrien commented on #43
Just for comparison to other Vertica native adapter projects:

The Ruby project does not implement COPY FROM LOCAL either:
https://github.com/wvanbergen/vertica/issues/33

And the recently released Python native adapter from HP Vertica supports COPY FROM STDIN but not from a filepath.
https://my.vertica.com/docs/7.2.x/HTML/Content/python_client/loadingdata_copystdin.html

It's great that vertica-p

[2016-05-19 08:34] jaceksan commented on #43
Denis,
nice to see, that somebody read my request / concern ;-)
Meanwhile things have changed a lot on my side.
1. COPY FROM STDIN can be an alternative to FROM LOCAL in all cases
so it is not necessary to rely on implementation of COPY FROM LOCAL any more
2. We use COPY ON ANY NODE if possible
it is incredibly faster and it works using standard cur.execute() method.

[2016-05-23 17:23] #116 closed

[2016-05-23 18:24] #117 closed

[2016-06-08 08:56] pauleikis opened #121 "Decimal support is broken python3"
If vertical column contains numeric value, vertica python tries to convert it to Decimal and the following error occurs:

[code]

[2016-06-09 01:05] dennisobrien commented on #121
Ran into the same issue.  Thanks for the quick fix.

[2016-06-09 17:43] alexjikim commented on #121
thanks for the fix

[2016-06-09 17:43] #121 closed

[2016-06-13 14:55] nchammas commented on #95
I suppose this idea first requires that Vertica be publicly accessible so that you can download and set it up as part of your automated tests. As far as I know, there are no publicly accessible versions of Vertica as you need an account setup on their site and you need to click through some license agreement every time you download something.

I've [asked on the Vertica community forum](https://co

[2016-06-27 07:51] dennisobrien opened #124 "errors not reported when multiple statements in a query"
When `cursor.execute` is passed a query that has multiple statements, and one of the statements results in a database error, that error is not raised (unless it is the first statement).

Here's an example of a query that when run on its own raises a `MissingColumn` exception:

[code]

When this query is among multiple statements (and not the first statement) no error is raised.

[code]

The expect

[2016-07-27 13:21] mverrilli commented on #84
Vertica has native connection load balancing. When enabled, you can connect to any node and it will redirect you to another node.  In order to accomplish this, the driver must allow the redirect (connect to a different node). I don't know much about the protocol behind this.  vsql and jdbc both can do this (with an option enabled). This could possibly be an enhancement, (I don't personally use thi

[2016-08-30 15:33] veritas718 commented on #112
Here is a code workaround that I dont love, but correctly substitutes most variable names:
[code]

[2016-09-23 02:20] twneale commented on #112
This one has an easy fix that doesn't require a big decision about psycopg2: see #129 for details

[2016-09-23 18:14] alexjikim commented on #112
reopening: still broken for python3 unicode case

[2016-10-04 15:18] shinkou opened #130 "Non-ASCII Parameters Not Working"
[code]

[2016-10-04 17:15] BenFeinstein commented on #130
Perhaps it's related to the absence of apostrophes in the first (not working) example?

I would suggest to test whether surrounding the %s placeholder with apostrophes (\'%s\') fixes the broken example.

On Oct 4, 2016 6:20 PM, Chun-Kwong Wong <notifications@github.com> wrote:

#!/usr/bin/env python
# -*- coding: utf-8 -*-
import json, vertica_python

cnxinfo = {'host': 'verticadb01', 'port': 5433

[2016-10-06 02:02] shinkou commented on #130
It works if we replace the 2nd parameter, which is a tuple, with `(u'English',)`.

[2016-10-06 22:09] alexjikim commented on #130
thanks for reporting this.
should be fixed as of 0.6.8.

[2016-10-06 22:09] #130 closed

[2016-10-24 09:32] jbfavre commented on #112
Hello,
I'm the maintainer for python-vertica package in Debian.
I'd like to let you know that current Debian testing will be freezed on 5th of february 2017 (https://wiki.debian.org/DebianStretch)

I'd really like to see this issue can be fixed before the freeze so that I can upload a fully functional package into Debian archive.
If it's fixed after 2017-02-05, the fix won't be available in Stretc

[2016-10-25 13:19] babinu commented on #43
Hi,

There are definitely some use cases where COPY FROM LOCAL works really well, one example being while adding sequence numbers to records while loading them to vertica (see https://community.dev.hpe.com/t5/Vertica-Forum/Add-sequence-numbers-to-a-bulk-load-in-vertica/td-p/237457).

We have tried to do the same thing using COPY FROM STDIN and we see that ordering of sequence numbers is not guaran

[2016-11-28 10:22] twheys opened #133 "Boolean values are always read as False in python3"
In python3, boolean values are always read as false.  In vertica/column.py booleans are evaluated with the expression `s == 't'`.  The value of `s` is `b't'` when true and `b'f'` in and since `b't' != 't'` this expression will always resolve as false.

[2016-11-28 18:52] #133 closed

[2016-12-05 21:25] sevagh commented on #100
I am interested in this feature as well. I'll see if I can write a fix for it. There are some columns (client_label, client_type) in `select * from sessions` which would be useful, and JDBC populates those.

[2016-12-06 01:47] sevagh commented on #100
So, this code works:

[code]

The output looks good:
[code]

Obviously the name `vertica-python-xxx` is just a test string, I'm not sure what to name the Label, Type, and Version.

Do you have suggestions?

[2016-12-06 18:14] sevagh commented on #100
I'll follow JDBC:

    client_type = vertica-python
    client_label = vertica-python-$(VERSION)-uuid
    client_version = vertica_python.__version__

[2016-12-09 19:18] alexjikim commented on #100
added: https://github.com/uber/vertica-python/pull/135
thanks @sevagh

[2016-12-09 19:18] #100 closed

[2016-12-15 18:02] sevagh commented on #95
Look at how this repo does it: https://github.com/wvanbergen/vertica/blob/master/.travis.yml

`sudo wget -nv https://s3.amazonaws.com/circle-support-bucket/vertica_7.0.1-0_amd64.deb`

Personally I use https://hub.docker.com/r/sumitchawla/vertica/ for tests. They are both decent options but the versions are quite old.

[2016-12-28 02:18] debseal opened #136 "Cannot insert NULL as value into table"
I am trying to insert NULL as value in a column based on a condition. The key is I only want it if a certain condition is true. Below is the code snippet:

    connection = vertica_python.connect(**self.vert_conn_info)
    cur = connection.cursor()
    insert_sql = """INSERT INTO {0}.{1} VALUES ('{2}', '{3}', {4})"""
    insert_sql_str = insert_sql.format(self.vert_schema_name,
        Config.VERT

[2016-12-30 00:45] Subzidion commented on #136
I'll give this a shot.

Python uses ```None``` instead of null, so when you say ```else null```, null will not be defined. If you were to use ```None``` I'm pretty sure it would it would embed the string "None" into the SQL statement instead of treating it as NULL which is what I think you want.

The code below should work. I took the single quotes out of the original SQL Statement and add them in

[2017-01-04 01:14] debseal commented on #136
@Subzidion : Yes, that does the trick. However, personally I feel that for such cases passing None from python side, should be then parsed as null for vertica by the library. As intuitively, they are kind of equivalent of each other. Just a thought. :)

[2017-02-02 03:05] timolingh opened #138 "Any way to get the column names?"
Hey folks,  This is probably not the use case envisioned, but sometimes I am exploring a table and I use a `select *` statement.  Is there anyway to get the field names from the table when I do this?  Thanks!

[2017-02-02 19:17] alexjikim commented on #138
cursor.description _should_ contain column info

[2017-02-02 19:17] #136 closed

[2017-02-02 22:32] timolingh commented on #138
Thank you.  This is exactly what I was looking for.

[2017-02-07 10:29] jaceksan opened #140 "Cannot execute query without fetching all rows"
**Use Case:**
Tool executing TPCH queries using multi-threading + advanced measuring / monitoring.
There are TPCH queries returning very large result set.
Worst-case is query #10 - circa 4M rows in case of 100GB TPCH size, 1230s duration, 1200s fetch time!

**Requirement:**
I would appreciate any change enabling execute without fetch, either by new argument or by design -
without explicit call of

[2017-02-13 19:56] feinsteinben commented on #79
Hi,

I suggest to reopen this issue, for supporting pandas-vertica integration (pandas.to_sql method for uplaoding pandas dataframe to vertica table).

The executemany method is required to have this feature. I've implemented a poc version of executemany, and it indeed solves the pandas-vertica intergration. However, my implementation is not efficient, and uses many INSERT statements instead of CO

[2017-02-27 20:54] bradleyhurley opened #143 "cursor.execute - sql block comment - TypeError"
I encountered an issue today using vertica-python version 0.6.12 and python 2.7.13.  If you try to execute a sql statement that only contains a block header vertica-python throws an exception.

[code]

## Stack Trace
[code]

I believe there may actually be two issues.  If you actually get to the else statement  on line 47 `messages` is undefined.

Please let me know if you need anymore information

[2017-02-28 03:00] #138 closed

[2017-02-28 03:08] alexjikim commented on #143
thanks for the contribution

[2017-02-28 03:08] #143 closed

[2017-03-24 19:17] AndrewJudson commented on #79
I also think this should be reopened - it would be nice to support pandas. Otherwise people will have to go back to pyodbc

[2017-03-30 14:07] yuval-mntr opened #146 "3 times slower than node-vertica"
I performed a test on the same query (30 million rows)
python seem to take roughly 3 times longer than node

There are no operation except execution and fetch, so the slowing factor has to be in the vertica-python lib

[2017-04-06 18:45] bradleyhurley opened #147 "vertica-python does not support SHA512 passwords"
Here is the error message that is returned:
[code]

[2017-04-06 18:46] bradleyhurley commented on #146
Just to clarify @yuval-mntr are you referring to the [node-vertica](https://github.com/wvanbergen/node-vertica) project or running vsql from a node?

[2017-04-07 13:25] thomastygreat commented on #124
I have found a workaround for this issue.
I'm not sure it works in every situation, but the first tests seem to be ok.

It would be nice to fix it in the driver though :)

`
import vertica_python
import vertica_python.vertica.messages as messages

def executeQuery(sqlQuery):
	connection = getConnection()
	cur = connection.cursor()
	cur.execute(sqlQuery)
	checkErrorMessage(cur.connection)
	connecti

[2017-04-11 22:18] feinsteinben commented on #112
I think that #152 solves it (there are many unicode/compatiblity fixes there). I ran all tests on py27, py34, py35, py36 and it worked well (including the usage of named parameters).

[2017-04-12 12:25] yuval-mntr commented on #146
Hi
Yes that's correct
Same machine, node-vertica performs much faster executing exact same query on the exact same DB with same user.

Fetching code is line by line on both:
` for row in cur.iterate():`

[2017-04-12 20:36] bradleyhurley commented on #146
Your test may be flawed.  What is the performance like when you use:
```cur.fetchall()```
The speed of iterating the result set and appending it to a list might be the bottleneck.

[2017-04-13 07:23] yuval-mntr commented on #146
Hey, I started off with fetchall, fetchmany but they were too slow.
If I understand the lib implementation code correctly, fetchall uses `cur.iterate`
` def fetchall(self):
        return list(self.iterate())
`
I do exactly the same in node.js, fetch line by line in a callback, and append to js array which takes 3 times faster.
I tried every possible way with vertica-python, all slow
I'm quite con

[2017-05-02 07:10] jaceksan commented on #140
Is anyone able to at least answer my request (e.g. send me to hell)?

[2017-05-08 15:01] alan-delrio opened #154 "Errors not reported on subsequent failed loads"
Hi All,
The specific scenario that I'm reporting is when executing a COPY statement that fails, reusing the connection and executing a subsequent COPY command.

The subsequent COPY command it not detected as failed, not exception is thrown and the client even claims to have received a Rows loaded count from Vertica. The copy command registered in the table QUERY_REQUESTS is marked as successful :F

[2017-05-13 20:50] alexjikim commented on #112
this _seems_ to be resolved as of 0.7.0 with the PR by @feinsteinben

[2017-05-13 20:50] #112 closed

[2017-05-13 22:33] alexjikim commented on #140
Sorry for the slow response.

This behavior has to do with combination of how the library is currently handling data streaming and transactions. The current execute() method finishes handling all messages to possibly send a commit execution at the end of a transaction (as opposed to creating a new socket for each execute).

There might also be a way to cancel the execution and only have to read th

[2017-05-13 22:47] alexjikim commented on #124
as of 0.7.1 this should be fixed, but the behavior is a bit different than what you are seeing in pyodbc.

cur.execute("SELECT 1; SELECT a;")
# first we need to read results from the first executed statement
res1 = cur.fetchall()
cur.fetchone() # returns None

# ask for the next set of data:
cur.nextset()  # will (as of 0.7.1) throw an error
res2 = cur.fetchall()  # would work if no error on nexts

[2017-05-13 22:47] #124 closed

[2017-06-05 17:27] feinsteinben opened #158 "Regex mismatch in cursor.executemany"
@karthiksharmasg

regex doesn't recognize names with " quotes around them.

[2017-06-15 08:57] ArtursStrauss opened #160 "None not replaced with NULL"
After upgrading from version 0.6.14 to version 0.7.1, queries with named parameters do not replace None with NULL.
You get error messages like:
ERROR, Message: Column "None" does not exist

[2017-06-17 21:31] alexjikim commented on #160
just pushed 0.7.2 with a fix

[2017-06-17 21:31] #160 closed

[2017-06-18 20:08] #158 closed

[2017-06-20 12:57] jaceksan commented on #140
Hi @alexjikim,
thanks for your answer!
I implemented the suggested workaround and it works well.

However, there are use cases, when resetting cursor is not possible, for example when LOCAL TEMPORARY tables are used.
We need to drop rows without loosing session/transaction state.
Let me know, if you can implement any method, which would keep session/transaction state.

[2017-07-17 15:28] cirgue commented on #146
I encounter the same issue. Does anyone know of a cause/fix?

[2017-07-31 13:56] juise commented on #83
Got same issue on COPY statement!

+1

[2017-08-03 09:21] drno-reg opened #167 "Using ' in json result sequence item 0: expected str instance, dict found"
Hello,

I have json

[{'OPERATION_ID': 381, 'NAME': 'Financial data', 'LOCATION': 'Hong Kong', 'TYPE': 'Credit'},{'OPERATION_ID': 382, 'NAME': 'Financial data', 'LOCATION': 'Berlin', 'TYPE': 'Debit'}]

and try insert in Vertica

wrote this code by python

VerticaList = list()
VerticaList.append('{'OPERATION_ID': 381, 'NAME': 'Financial data', 'LOCATION': 'Hong Kong', 'TYPE': 'Credit'}')
VerticaLis

[2017-08-06 11:28] feinsteinben commented on #167
`'` is not a valid json quotation mark (according to the json standard). you should `"` instead.

[2017-08-21 09:47] jakubjedelsky opened #169 "Please remove useless shebang"
in vertica_python/vertica/messages/frontend_messages/crypt_windows.py

[2017-08-23 09:05] drno-reg opened #170 "How can to make upload exception while loading csv file to Vertica?"
Hello,

at current moment time I load csv file to Vertica using this script

connection = vertica_python.connect(**conn_info)
cursor = connection.cursor()
with open("C:\\DataBases\\csv\\%s_%s.csv" % (FILE_NAME, TABLE_NAME), "rb") as fs:
    my_file = fs.read()
cursor.copy("COPY %s.%s from stdin PARSER fcsvparser(type='traditional', delimiter=';', record_terminator='\n',)" %(SCHEMA_NAME, TABLE_NAME

[2017-08-24 07:32] drno-reg opened #173 "Vertica returned Wrong number of columns! COPYing 99 columns from a source file containing: FEWER columns."
Hello,

COPY loader return error, BUT I count column in row loaded normally - 99 and column in reject row 99.

create table in Vertica

create table ALL_EVENTS
(
id VARCHAR(500) not null,
version NUMBER(10) not null,
title Long Varchar,
description Long Varchar,
solution Long Varchar,
state VARCHAR(500),
severity VARCHAR(500),
priority VARCHAR(500),
category VARCHAR(500),
subcategory VARCHAR(500),

[2017-08-24 21:30] AndrewJudson commented on #146
We've seen a similar issue with pyodbc being much faster than this library. I'll look into this more when I have time, but in the meantime I would be interested if someone figures out the cause of this.

[2017-08-27 19:54] #167 closed

[2017-08-27 19:57] #169 closed

[2017-08-27 20:23] alexjikim commented on #170
i believe this has to do with vertica's default handling of copy errors (ignore them). Try setting REJECTMAX to 1 (or whatever threshold you want the copy command to error out on).

https://my.vertica.com/docs/7.1.x/HTML/Content/Authoring/SQLReferenceManual/Statements/COPY/COPY.htm

[2017-08-27 20:29] alexjikim commented on #154
i wasnt able to reproduce this. could you post a simple example that reproduces this?

also can you make sure you are setting REJECTMAX i the copy command? it doesnt sounds like this is your issue, since you are saying the first statement failed.. but just in case.

[2017-08-27 22:12] alexjikim commented on #147
@tudit any chance you could help with this.

it seems the Authentication message value of 5 is used for both md5 and sha512 hash methods. I tried using a similar hash method to the current md5 implementation using hashlib.sha512() and 'sha512' as the prefix, but couldnt get it working. do you have any insight into what vertica is expecting?

[2017-08-27 22:31] alexjikim commented on #146
im sure there are other issues, but last time i checked the number of objects being created on a per row basis was a fair amount of the slowness. eg. the library currently unpacks bytes into a string first, before casting to another python object.

also, since this lib was published vertica has published an official native python client:
https://my.vertica.com/docs/8.1.x/HTML/python_client/tutoria

[2017-08-27 22:50] alexjikim commented on #173
does this file parse/load ok using vsql? i suspect this is a mismatch between the file and fcsvparser.

[2017-08-29 15:16] dlipowitz opened #175 "Inserts with timestamp parameters raise error"
https://github.com/uber/vertica-python/blob/37e6b9cd33a2eec905f2b4b1f00e4cc004aff383/vertica_python/vertica/cursor.py#L348

Line 348 is adding timestamp bind parameters to my INSERT statement's VALUES clause without surrounding quotes.

e.g. ```INSERT INTO some_table (some_timestamp) VALUES (2016-05-27 16:52:55.658182)```

should become

```INSERT INTO some_table (some_timestamp) VALUES ('2016-05-

[2017-09-01 19:09] dangosludge opened #176 "Python3 vertica-python literal connection arguments issue"
Running Python3 with literal connection arguments generates errors trying to connect.  If 'some_literal' is used as a literal connection argument, then connection.py chokes trying to convert to bytes in method write's sendall(message.to_bytes()), and to add insult to injury the exception handling fails because the thrown <class 'struct.error'>  value of """error("argument for 's' must be a bytes o

[2017-09-11 17:33] feinsteinben commented on #173
I think I know the cause to this issue. It's bad escaping. Will push PR soon.

[2017-09-19 14:30] apollonin opened #177 "read_timeout config does not affect"
Hi! It seems that read_timeout option does not affect anything regarding to time of query execution.
I have next code:

[code]

But this code throws an exception after 10 minutes:

[code]

Any reason why does it happen?

[2017-09-19 22:31] alexjikim commented on #177
yea, that is an error due to a server side execution time limit.
you'll need to change your vertica configs to fix this.

[2017-09-19 22:31] #177 closed

[2017-09-21 21:08] feinsteinben commented on #173
maybe it's caused by the line-break in the before-last column?

[2017-09-22 02:45] #173 closed

[2017-09-28 11:01] dmanojbabu opened #178 "Inconsistent ConnectionError during select"
Getting below inconsistent ConnectionError during select queries only. If run my script after some time it works without issue.

How to find the exact issue and the error message was clear?
Any help will be appreciated.

Traceback (most recent call last):
  File "generator.py", line 48, in execute
    target.mxm(mxm_sql)
  File "/home/itsme/Target.py", line 38, in mxm
    curs.execute(sql, parms)

[2017-09-29 19:39] binglin1 commented on #147
Hi, I've come across the same issue as bradleyhurley did. Has anyone, @bradleyhurley @alexjikim , find a solution yet?

[2017-10-03 15:39] bradleyhurley commented on #147
Not a solution, but a work around. Change the users security algorithm.

https://my.vertica.com/docs/8.1.x/HTML/index.htm#Authoring/SQLReferenceManual/Statements/ALTERUSER.htm

I hope to actually dig into this issue this weekend.

[2017-10-04 17:51] JettJengaGod opened #180 "Connection error"
Whenever I try to connect to my vertica DB, I get this connection error. I'm sure that it is authenticating as invalid credentials get rejected with a auth error. Any advise on how to proceed with fixing this?
[code]

[2017-10-05 19:00] AndrewJudson commented on #180
@JettJengaGod does your Vertica server require SSL? Your con_info doesn't include an SSLContext, so if your server requires it that could be a cause of the connection failure.

[2017-10-05 22:14] JettJengaGod commented on #180
@AndrewJudson It does not require SSL.

[2017-10-05 22:36] AndrewJudson commented on #180
@JettJengaGod you could print out the different fields for message here? https://github.com/uber/vertica-python/blob/master/vertica_python/vertica/connection.py#L269
Could shine some light on what is going on. Are you using the latest version?

[2017-10-05 23:20] JettJengaGod commented on #180
@AndrewJudson I am using version 0.7.3

When I look into that, it looks like I am getting
[code]

[2017-10-06 23:17] hc000 commented on #180
@AndrewJudson I think its because the password contains non alpha numeric characters.

[2017-10-06 23:18] JettJengaGod commented on #180
@AndrewJudson @hc000 non alpha numeric characters seemed to be the issue. Thanks.

[2017-10-07 00:12] JettJengaGod commented on #180
Do you support schemas or tables with the '_' character in it?

[2017-10-11 08:23] vohnik commented on #79
Reopen it please, it is useful for updates too,  and pandas-vertica integration as was already mentioned.

[2017-10-11 12:08] feinsteinben commented on #79
I think it was solved a long long time ago, in another PR.

On Wed, Oct 11, 2017, 04:25 Stanislav Vohnik <notifications@github.com>
wrote:

[2017-10-13 21:28] mverrilli commented on #79
Right, this one: #152

[2017-10-25 15:49] lv10 opened #181 "COPY: Input record 1 has been rejected (Invalid float format 'NULL' for column)"
Hi,

When I insert one row of data to Vertica through SQLAlchemy `execute()` object I am able to pass a NULL (None) to a float column. However, when I try to do a bulk insert which hits your (_vertica_python/vertica/cursor.py:130_) `executemany()` method I get error:  _**COPY: Input record 1 has been rejected (Invalid float format 'NULL' for column)**_ . Have you guys had this issue before? If so

[2017-10-26 03:55] dennisobrien commented on #146
I have more questions than answers.

It looks like `cursor.fetchall` and `cursor.execute` have very different code paths.  Is it possible that `fetchall` results in many more requests to the server compared to `execute`?  I noticed that Pandas `read_sql` calls `execute` and not `fetchall`.  This leads me to suspect `execute` is faster.

Does vertica_python support compression over the wire?  I hav

[2017-10-26 17:31] dennisobrien commented on #146
I just tested a query with pyodbc and the same query with vertica_python and looked at the traffic using wireshark.  With vertica_python I can see the plain text of the result set returned from the server (ssl was not enabled) but with pyodbc the traffic is not in the clear, suggesting it is compressed.

The initial message from the client to the server is slightly different in these two cases, an

[2017-11-07 17:26] waterlooDebate opened #183 "Read Timeout is Ignored With Lower Connection Timeout"
[code]

After 10s attempting to read from Vertica, the following is thrown (six.raise_from was monkey patched to see what the underlying exception was since Python 2.7 doesn't like exception chaining).
The read_timeout is set to 600s so you would expect this not to timeout after 10s.

[code]

[2017-11-14 09:59] mi-volodin commented on #154
I have a similar issue. The general example is as follows

[code]

Of course, there is no such scheme or table on the second statement.

[2017-11-14 14:00] mi-volodin commented on #154
I think the error is in `cursor` module. And it is connected with message processing.

Here's the example again
[code]

Which produce:
[code]
so the Error message goes next after DataRow.

And that is processing block:
[code]

From which it is clear that vertica_python reads from socket until either `CommandComplete`, `DataRow` or `ReadyForQuery` (not `Error` in current case) is processed.

I gues

[2017-11-14 15:00] mi-volodin commented on #154
I'm going to use this decision graph:

![default](https://user-images.githubusercontent.com/8374532/32786662-a0daa454-c965-11e7-84e6-f62ef7572396.png)

Does anyone knows if it is correct?
@alexjikim  maybe few comments?

[2017-11-14 15:40] mi-volodin commented on #154
Yeah... that is not so obvious. But at least if I have several consequent DDLs - the `pass` in CommandComplete case might help. But for any statement like I had in example (which is with `SELECT` with nonzero row return) - the errors are skipped because of further `iterate()` process.

[2017-11-15 11:21] mi-volodin commented on #154
Here's also a workaround for multiple statements with no expected output (FYI @alan-delrio )

[code]
Should fail with `Error` (unless you have this table `test` somewhere).

Note that it ignores `DataRow` even if there is one.
If you expect the ouput the processing could be something like that:
[code]

[2017-11-16 14:50] mi-volodin opened #185 "Possible nexset() misbehaviour"
Current nextset() def:
[code]

In particular, this works fine if and only if our consequent select statements return any row description.
If we consider any case with not select statement it fails with error `'Unexpected nextset() state after CommandComplete: `.

I might be wrong, but that is not what is expected in case I have multiple statements of mixed type in one call. And same for the case w

[2017-11-17 15:01] mickeynn commented on #154
Hi!
I have the same issue :)
Test case:
[code]
Raw response from Vertica:
[code]
After read_message():
[code]
As we can see `ErrorResponse` goes after `ReadyForQuery`...

[2017-11-17 20:00] mi-volodin commented on #154
@mickeynn Hi!

First `ReadyForQuery` is from `connect` operation (maybe), because first cursor insert works also after it (see `RowDescription` and `DataRow` from first insert).
The interesting thing is... where the "second" ReadyForQuery? When second `execute` happens - it should "fast forward" to `ReadyForQuery` message first (or till empty queue). And then execute the second command.

Are you s

[2017-11-18 22:35] mickeynn commented on #154
эх... придется значит на ODBC переписывать :)

[2017-11-19 12:06] mi-volodin commented on #154
@mickeynn ну не обязательно, я ж выложил workaround :) Он вполне работает, хотя и получился слегка низкоуровневый. Но для случаев, когда особо читать ничего не надо - он отлично подходит.

Кстати, из наших опытов (в компании), многие вещи гораздо быстрее работают через vsql+subprocess. Особенно чтение из базы, потому что не происходит создания python объектов. Если интересно - могу рассказать о на

[2017-12-21 20:36] nchammas commented on #185
I agree that it would be more consistent if we could use `nextset()` regardless of the type of query that is run.

For example, if we do something like this:

[code]

I'd want to be able to check that everything ran fine. It seems like `nextset()` should be usable like this:

[code]

However, if I understood @mi-volodin correctly, this will only work if all the statements are `SELECT` statements.

[2017-12-21 20:38] nchammas commented on #124
@alexjikim - This will only work with SELECT statements, correct? If the second statement is something else, this won't work, as reported in #185.

[2017-12-21 23:05] alexjikim commented on #124
@nchammas  yea i think thats correct

[2018-01-02 10:17] jaceksan commented on #140
@alexjikim Could you answer my question, please?
Even simple NO would be appreciated, we need to know, if we have to focus on searching different kind of solution.....

[2018-01-05 04:03] andyliusi opened #186 "connect error"
ERROR:root:Connect vertica database error with address:10.161.180.16
AttributeError
False
Traceback (most recent call last):
  File "D:/code/test-v1.py", line 16, in connect
    self.connection = vertica_python.connect(**self.conn_info)
  File "C:\Users\l00440039\AppData\Local\Enthought\Canopy32\User\lib\site-packages\vertica_python\vertica\connection.py", line 25, in connect
    return Connection

[2018-01-05 21:57] alexjikim commented on #140
hey @jaceksan, i no longer have write access to this repository and therefore will likely not be making more changes going forward.

When i looked at this, it wasnt clear to me how this could be accomplished given vertica's "simple" protocol (which is what this library uses). Its my understanding that theres a more advanced protocol, so it may be possible using that, but my knowledge of that proto

[2018-01-23 12:39] waryak opened #187 "Typo in docs"
In doc you have:
`cur.copy("COPY test_copy (id, name) from stdin DELIMITER ',' ",  csv)`, but this doesn't work actually.
`cur.copy("COPY test_copy(id, name) from stdin DELIMITER ',' ",  csv)` works

[2018-01-23 12:43] #187 closed

[2018-02-03 21:35] chanansh opened #188 "fetchmany returns only a single row"
Hi,
I am trying to use your driver and it works. Thanks!
Why does `fetch_many`returns a single row albeit it should return several.
I need this for faster dumping into a file (rather than line by line)

[2018-02-06 19:35] chanansh opened #189 "decimal.Decimal is returned instead of floats"
I have a table with a column of type Numeric but once I fetch_many I get in python the type as decimal.Decimal (e.g. 0E-15 instead of 0).

[2018-02-27 05:41] dennisobrien commented on #186
Hi @andyliusi

Can you provide details on the version of Python you are running and the version of vertica-python installed?

I'm trying to track down a similar issue.  In one environment (Python 3.6, vertica-python 0.7.3) I'm getting the same traceback you mentioned above.  In another environment (Python 3.5, vertica-python 0.7.3) it works.  There may be some other differences so I'm not ready to

[2018-03-13 00:57] cheefoo opened #191 "unable to fetch tables from schema name with underscore character (_)"
sql = "select * from TAYO_TEST.employee ";"
cursor.execute(sql)
column_names = cursor.fetchall()

The above does not work however below works.

sql = "select * from TAYOTEST.employee ";"
cursor.execute(sql)
column_names = cursor.fetchall()

Need some help with this. thanks

[2018-03-13 16:49] #191 closed

[2018-03-14 13:08] chanansh opened #193 "Query using named parameters - how to debug formatting?"
How can I get the query string before it sent to the driver and after parameters replacement? I would like to debug and cannot...

[2018-03-15 19:38] phillynch7 commented on #124
Problem still exists in 0.7.3.
[code]
myschema.mytable is a real table, but table/column abc do not exist. This returns no error.

[2018-03-21 07:09] zhanghuiCinderella commented on #121
maybe your unicode is error

[2018-04-01 00:40] bourbaki opened #195 "Connect using connection string"
How about an adding option to connect with a connection string of format `vertica://user:password@host:port/database?param1=...`. It would simplify getting config from environment variables?
P. S. I could create a pull request.

[2018-04-04 20:34] uvu2112 commented on #84
mverrilli makes a good point here. In order to use Vertica's [native connection load balancing](https://my.vertica.com/docs/9.0.x/HTML/index.htm#Authoring/AdministratorsGuide/LoadBalancing/AboutNativeConnectionLoadBalancing.htm) both the Vertica cluster and the client driver must enable load balancing.

With Vertica, you simply need to set the parameter: `SET_LOAD_BALANCE_POLICY('policy')`.

With

[2018-04-18 01:45] bradleyhurley commented on #193
@chanansh You can add a print statement above the following line:
https://github.com/uber/vertica-python/blob/d6a6d5213d6442ae5330ec9dfdff78b9e1cd2c43/vertica_python/vertica/cursor.py#L131

`print(operation)`

If you're interested I can open a PR with a debug/verbose flag on the connection.

@alexjikim  - Is this project still being maintained?  I notice you said awhile back that you no longer hav

[2018-04-18 14:48] bradleyhurley commented on #189
Can you provide a sample create table / insert statement to recreate this issue?  If I can recreate the issue I can attempt to open a PR with a fix.

[2018-04-18 15:07] chanansh commented on #189
Please close. The vertical was of type NUMERIC

On Wed, Apr 18, 2018, 5:50 PM Brad Hurley <notifications@github.com> wrote:

[2018-04-19 16:32] SunilNekkanti opened #197 "Errors are not reported when multiple statements are executed in a query"
When cursor.execute is passed a query that has multiple statements, (delimited by semicolon) and one of the statements results in a database error, that error is not raised (unless it is the first statement).

Here's an example of a query that when run on its own raises a MissingColumn exception:

import vertica_python

params = get_default_db_params()
connection = vertica_python.connect(**params)

[2018-04-20 00:18] traffetseder opened #198 "read_timeout option ignored"
While debugging another timeout issue, I noticed read_timeout isn't used anywhere in the code:
https://github.com/uber/vertica-python/search?q=read_timeout&type=Code
(it's only setting the default value, but the option isn't used anywhere and the other mention is in the README).

[2018-04-22 17:58] bradleyhurley opened #201 "Is vertica-python being maintained?"
Is this project actively being maintained?  It seems there are a number of pull requests open that have not received any feedback as well as issues that indicate they can be closed, but are still sitting in the open state.

[2018-04-24 23:48] traffetseder commented on #201
Wondering the same...

[2018-05-11 16:41] nchammas commented on #197
I think this is a dup of #185.

[2018-05-18 21:55] naterodata opened #204 "select queries returning newstr b''"
I'm running python 2.7.14 and it looks like queries have begun returning newstr byte literals (b'xxx') instead of normal u'xxx' strings.  Any ideas on how to change it/force it back?  This occurred when I upgraded/installed a different python package.

[2018-05-23 00:30] traffetseder opened #205 "enabling TCP keepalive to avoid connections getting closed"
We ran into an issue with NAT gateway closing connections for long running queries that do not stream data back to the client. To fix this, we enabled TCP keepalive on the socket.

I haven't created a PR because this is linux specific code, but wanted to add it here to see if the community finds it useful.

See diff below.

-Thomas

`--- a/vertica_python/vertica/connection.py
+++ b/vertica_python/

[2018-06-05 03:31] pachewise opened #206 "Explicit Python 3 Support on pypi"
Right now, caniusepython3 fails for vertica-python because it doesn't explicitly support py3 on pypi.

would suggest adding the following classifiers (edited, misread the versions from tox.ini):
[code]

[2018-06-05 16:03] vkurakundi opened #207 "NULL not being inserted"
I am trying to run a query against a source Vertica DB, export it into a CSV file using python CSV module; and then using the copy command I want to copy the contents of the CSV file into a destination Vertica DB. The issue I am facing is where ever there is a NULL in the source DB, it is being exported as Python None in the CSV and then when I try to copy it, its being copied as an empty string '

[2018-06-11 15:37] briankhsieh opened #208 "Relicensing under Apache 2.0"
We are planning to make vertica-python available under the Apache 2.0 license on date July 15th, 2018.  If you are a contributor to this project and do not wish to make your contributions available under Apache 2.0, please contact me or comment on this issue no later than July 7th, 2018.

Thank you,

Brian

[2018-06-19 17:53] pachewise commented on #207
This might be due to the python CSV module - you may need to specify that empty string should be NULL: `COPY <your statements here> WITH NULL as ''`

[2018-06-19 18:13] vkurakundi commented on #207
@pachewise I used `COPY <statements> WITH NULL as ''` and it worked. I forgot to update/close this issue. Thank you for the reply.

[2018-06-19 18:13] #207 closed

[2018-06-20 06:52] pachewise commented on #95
bumping this: I've had some success testing code at work with CircleCI 2.0 and a vertica docker container from: https://github.com/jbfavre/docker-vertica. We _might_ be able to get it working on travis (though it would be somewhat out of my depth), if that's the preferred CI service. Regardless, having some tests run whenever a PR is submitted would be helpful

[2018-06-29 21:36] craigsoules opened #210 "Returned vertica error codes?"
Hello,

Is there a way to retrieve the actual error code returned by Vertica from the raised Exception?  It looks from the code like you're parsing the returned messages, but I can't seem to figure out if any part of that is the actual error code, and it's tricky to simply test since I don't really want to force the database into recovery for testing purposes ;-)

Thanks!
Craig

[2018-07-06 17:35] omatveyuk opened #211 "Bug in executemany when trying to insert NULL value into a column defined as an INT"
There seems to be a bug in the executemany function when trying to insert NULL value into column defined as an INT.
For example, if i have a table with 3 columns (col A: int, col B:string, col C: double) and I am trying to insert 'NULL,"Hello World",2,35' using COPY FROM, the executemany throws an exception.
When I try to omit NULL and use the empty string instead of the NULL, (Example: ',"Hello W

[2018-07-10 15:28] pcerny opened #213 "COPY STDIN: Query after failed COPY command is not executed"
I have an application where I trigger several COPY commands and SELECT queries using one cursor. Everything works fine till one COPY command fails with message type `messages.ErrorResponse`. After that failure, command executed by methods `cursor.execute` or `cursor.copy` do nothing.

Simple solution for this issue is to add line `self._message = message` before the line https://github.com/uber/ve

[2018-07-23 15:48] Dschoni commented on #201
I consider this to be a 'no'.

[2018-07-23 15:52] briankhsieh commented on #201
@tomwall to share the plan.

[2018-07-24 12:26] Dschoni opened #217 "Constraint violation not leading to error"
A test on constraint violation does not lead to an error in my test scenario. Issuing the same commands in plain SQL returns with a constraint violation:

[code]

[2018-07-24 12:32] Dschoni commented on #217
Most probably related to #154

[2018-08-13 07:09] son2 commented on #43
How can we use copy command to load data to vertica using Pycharm in Python ?

[2018-08-14 17:16] sitingren commented on #201
Hi Folks

We are very excited to announce that Uber has transferred this repo to the Vertica engineering team! See details here:  https://my.vertica.com/blog/vertica-python-becomes-verticas-first-officially-supported-open-source-database-client/

[2018-08-14 22:19] dennisobrien commented on #43
@son2 Here's an example function that takes a vertica-python connection to load the data in the dataframe `df` into the table `loading_table`.  This will also work with pyodbc or turbodbc connections.

[code]

[2018-08-15 15:14] sitingren commented on #189
Works as expected, not a bug.

[2018-08-15 15:14] #189 closed

[2018-08-15 18:28] sitingren commented on #206
Great suggestion! We plan to release a version shortly to exercise the release process. This is a great piece to add. I'll send out a commit soon. Thanks!

[2018-08-15 21:20] sitingren commented on #206
Merged fix #224
Verified updates on https://pypi.org/project/vertica-python/

[2018-08-15 21:20] #206 closed

[2018-08-16 17:00] sitingren commented on #180
@JettJengaGod
`{ValueError} unsupported authentication method: 11` means your password will expire soon. This should be a warning, but currently it is an exception so you connection fails, we should fix that. Try to connect to your database after changing the password to see if it works.

[2018-08-16 18:38] sitingren commented on #188
If you don't pass any parameter to `fetchmany()`, the default number of rows to be fetched is `cursor.arraysize = 1`. You can specify the `size` parameter to the number of rows to fetch per call.

Here are some solutions:
* Use `fetchall()` to fetch all rows
* Call `fetchmany(size=N)` to fetch N rows
* Change `cursor.arraysize` attribute to M, then every time calling `fetchmany()` would fetch M ro

[2018-08-20 08:53] Dschoni commented on #217
As this is in fact related, I close this issue to focus discussion on #154

[2018-08-20 08:53] #217 closed

[2018-08-20 08:58] Dschoni opened #226 "Extensive documentation missing"
As maintenance of this project seems to be clear now, I would like to ask, where documentation is happening (in order to facilitate contribution). So far, I only found the quickstart documentation inside the readme on the github project page, which I find to be insufficient (compared to the extensive documentation of the very similar psycopg2 postgreSQL adapter).

Furthermore, there is no informat

[2018-08-20 15:57] #188 closed

[2018-08-21 20:34] armaandhull commented on #181
@sitingren : I have the same issue and using @lv10 's fix on the fork works as expected. Wondering if it is possible to merge this fix into master?

[2018-08-21 21:04] sitingren commented on #181
@armaandhull : I took a quick look and found there are 2 pull requests that may resolve this issue: #182 and #212. I think #212 is a better solution compared to #182 since it does not change API. Merging #212 is transparent to users who are already using the API. I'd like to know if #212 works for you and feel free to give me suggestions.

[2018-08-21 21:21] sitingren commented on #210
Hi @craigsoules

[2018-08-21 21:24] sitingren commented on #210
Hi @craigsoules

[2018-08-21 21:28] armaandhull commented on #181
@sitingren : agreed that #212 is indeed the better/more transparent solution and it works for me as well :+1:

[2018-08-21 21:32] sitingren commented on #210
Hi @craigsoules , Vertica server does support retrieving the error code, but this feature requires the protocol version the client uses to communicate with the server to be at least 3.4. Unfortunately, protocol version 3.0 is implemented in this [library](https://github.com/vertica/vertica-python/blob/master/vertica_python/__init__.py#L63) by now. It is not a trivial work if we want to upgrade the

[2018-08-22 08:05] Dschoni commented on #226
@sitingren  I suggest following the community optimised numpydoc standard, documented at https://numpydoc.readthedocs.io/en/latest/format.html . This is being used all over numpy and scipy, integrates well with sphinx and popular IDEs such as pycharm and spyder (which comes with Anaconda). I'm interested in helping to produce such a documentation.

[2018-08-22 08:19] Dschoni commented on #211
I'm not sure if I understand your example right, but in both cases there seem to be several issues with your query to start with.  `2,35` is not standard notation for a double in python, this should be `2.35`.  As far as I am aware, there is no mapping from `NULL` to anything. I can only speak from the psycopg2 side of this problem, but for this mapping an empty string or the python `None` object

[2018-08-22 13:15] sitingren commented on #226
@Dschoni That's great. Please assign yourself as the assignee of this issue if you would like to produce the documentation. Thank you again!

[2018-08-24 18:41] sitingren commented on #186
@andyliusi Have you solved the problem? Our improvements (commit 029a65a) posted on `master` branch (even though not included in a release yet) is able to write connection status into log. Hope the log can provide clues to you.

[2018-08-27 20:15] sitingren commented on #204
I'm not familiar with the original design, but looking at the commit history, this behavior change has happened for a long time (since version 0.6.0, Apr 28 2016). Calling `unicode()` can simply transfer it back to u'xxx' string.

[2018-08-27 20:38] sitingren commented on #170
No conversations for a long time. Closed.

Reopen this issue if you still have questions.

[2018-08-27 20:38] #170 closed

[2018-08-27 20:58] sitingren commented on #183
Which version of vertica_python package do you use? I guess this is a duplicate of issue #198.

[2018-08-28 21:43] sitingren commented on #213
@pcerny Thank you for your bug report. You wrote a great bug description!

The solution is straightforward enough (Note: The url mentioned above no longer make sense after line number has changed as new PRs merged). In order to encourage external contributions, we would like to leave this bug to the community and call for help.

Here are some key points about the bug fix:
* Assign yourself as the

[2018-09-05 20:08] sitingren commented on #146
Hi folks,

Vertica support got feedback from a customer that they performed a test on three clients (vertica_python, pyodbc, and vertica_db_client). There is a noticeable performance difference between vertica_python and the other two clients. From our interaction, we found that if clients run on __physical machines__, three clients take nearly same amount of time to execute and fetch on the same

[2018-09-06 18:03] sitingren commented on #197
This works as expected. See https://github.com/vertica/vertica-python/issues/124#issuecomment-301279343. vertica-python streams data results, so you have to iterate through results with `nextset()` to get the MissingColumn exception.

[2018-09-06 18:03] #197 closed

[2018-09-06 21:34] darwinyip commented on #175
Will this get addressed? Getting the same issue.

[2018-09-08 15:08] #175 closed

[2018-09-17 14:56] Dschoni opened #232 "Session Auto-commit not working or failing silently"
I'm trying to set my session to non-auto-commit mode for performance reasons (and the possibility to rollback transaction based).

However executing the command to disable AUTCOMMIT

`cur.execute("SET SESSION AUTOCOMMIT TO off;")`

does not lead to an error, neither does it seem to work as the next statement (e.g. `CREATE TABLE`) is again being auto-commited. Is there another way to disable AUTOCO

[2018-09-17 15:04] jhpierce commented on #178
I'm also experiencing this in vertica-python `0.7.3`, python `2.7`. Any update on whether `0.7.4` or later releases fixes this issue?

[2018-09-17 15:51] sitingren commented on #232
Please note that DDL statements are autocommitted. So `CREATE TABLE` wouldn't be affected by this AUTCOMMIT setting. Have you tried other queries like `INSERT`?

[2018-09-17 16:16] sitingren commented on #178
@jhpierce From the error message I cannot get useful debug info. Could you please modify file `xxxxx/vertica_python/vertica/connection.py` (figure out the specific path according to your error message), in read_message, replace `raise_from(errors.ConnectionError, e)` with `raise e`, and then run your program again? I hope this can reveal more info.

[2018-09-17 19:06] sitingren commented on #232
@Dschoni I merged a PR #233, so when you turn on logging to DEBUG, you should see the following log when you run `cur.execute("SET SESSION AUTOCOMMIT TO off;")`:
[code]
`ParameterStatus: auto_commit = off` is the message the database server sends to the client. You can confirm if the auto-commit setting works or not.

[2018-09-18 19:31] sitingren commented on #178
@jhpierce No problem, I'm happy to help.

[2018-09-18 19:31] #178 closed

[2018-09-19 21:23] darwinyip opened #234 "KeyError: b'V' in FIELDS_DEFINITIONS"
FIELDS_DEFINITIONS is missing `b'V'` for Vertica-specific messages.

[2018-09-19 21:32] sitingren commented on #234
I believe this is a duplicate of #210.

[2018-09-20 15:08] darwinyip opened #235 "Create repos for vertica sqlalchemy and alembic dialects"
Is it possible to create official support repos for sqlalchemy and alembic?

There is one for sqlalchemy but would be nice to have one with official support from Vertica.
https://github.com/LocusEnergy/sqlalchemy-vertica-python

[2018-09-20 15:31] #234 closed

[2018-09-20 17:29] sitingren commented on #193
This issue has not had recent activity. Closed. Please reopen if anyone has further questions.

We would consider add messages about query strings to logging.

[2018-09-20 17:29] #193 closed

[2018-09-23 10:16] pcerny commented on #213
@sitingren I have created PR with fix, but I cannot assign this issue to myself because I have no rights to do so.

[2018-09-24 10:07] Dschoni commented on #232
You are 100% right with your above statement. I checked the behaviour with an `INSERT` statement, and that worked as expected.

[2018-09-24 10:07] #232 closed

[2018-09-24 18:31] sitingren commented on #213
@pcerny Thanks for creating a PR! I apologize I didn't notice you don't have permissions to assign the issue.

[2018-09-24 19:57] #213 closed

[2018-09-25 19:56] sitingren commented on #211
I believe this issue is a duplicate of #181.

[2018-09-26 19:37] #181 closed

[2018-09-26 19:38] #211 closed

[2018-09-27 14:37] sitingren commented on #186
Close this issue because it has not had recent activity.

[2018-09-27 14:37] #186 closed

[2018-09-27 17:06] sitingren commented on #235
That's a great idea. However, we have many other high priority features/issues we would like to address first. So, unfortunately, we don't have engineering cycles to make it in the near feature releases. Thank you for your interest, we'll publish any update here.

[2018-09-28 14:37] tomwall commented on #95
Thanks for everyone's help & interest. We've now got basic CI up and running via https://github.com/vertica/vertica-python/pull/216.

It is normally against Vertica's user agreement to host public downloads, but we've gotten special exception to do so for this project. You're welcome to use the URL referenced in the CI script on https://travis-ci.com/vertica/vertica-python/ for your own testing, b

[2018-09-28 14:37] #95 closed

[2018-10-01 18:18] sitingren commented on #185
Good catch! Actually, ```NoticeResponce``` and ```ParameterStatus``` are asynchronous messages, which need to be handled separately.

[2018-10-07 03:56] son2 commented on #43
Thanks  Dennis.

On Wed, Aug 15, 2018 at 3:51 AM dennisobrien <notifications@github.com>
wrote:

[2018-10-25 15:02] karhohs commented on #235
@sitingren do you accept pull requests? The https://github.com/LocusEnergy/sqlalchemy-vertica-python has proved very useful and it would be great to add this kind of sqlalchemy support to the official python vertica project.

[2018-10-25 20:38] lemeryfertitta commented on #235
@sitingren @darwinyip I've been maintaining https://github.com/LocusEnergy/sqlalchemy-vertica-python for the last few years, and we'd be happy to pass it off to Vertica if they are interested.

@karhohs In the meantime, I'm happy to continue to accept pull requests.

[2018-10-26 14:08] sitingren commented on #235
@lemeryfertitta Thank you for maintaining this great repo and making Vertica better!

@karhohs Currently, we don't have enough engineering resource to support sqlalchemy and accept pull requests. Even if we take over https://github.com/LocusEnergy/sqlalchemy-vertica-python, we may not have so much contribution.

[2018-10-26 14:08] #235 closed

[2018-10-26 14:41] tomwall commented on #235
As Siting said, we'd love to see better python ORM support. But for now our priority is to implement the major missing pieces of the python client. Some of those, like server-side prepared statements, should have a very positive impact on the experience in those sort of tools. Once we fill in those gaps we will likely turn our attention to the popular higher level projects that build upon vertica-

[2018-10-29 11:01] sitingren commented on #140
The backend would always send back all query results, no matter you call fetch or not. This is how Vertica's protocol works. All drivers have to handle these backend messages, including JDBC. It is likely that JDBC driver hide the problem, so you saw the performance of next executed query is not affected. So it is impossible to enable execute without fetch from client side.

[2018-10-29 11:01] #140 closed

[2018-10-31 15:04] schimmy commented on #185
I would say this is a bug, not an enhancement - how can I verify the accuracy of my calls through the library? Right now a script I run has an error which I can't catch, since the query is not a select.

[2018-10-31 18:58] tomwall commented on #185
Yes, it is definitely problematic that you can't get errors out for DDL or other commands that don't use RowDescriptions. We could address some of the the immediate need by whitelisting CommandComplete after another CommandComplete in the snippet above, but that's not the whole story.

Asynchronous messages like notice & parameter status are valid in this sequence too. Those messages are not fatal

[2018-11-21 13:58] bcollazo commented on #154
I have a similar issue. I have a long SQL Script of CREATE TABLE commands, that if one fails, .execute doesn't raise any concerns (a.k.a. fails silently). If I execute the script from DBeaver its able to catch the error. vsql also alerts me on the error.

I've worked around for now doing something like:
[code]
So that each command is executed separately and thus raise error in case of any.

[2018-11-21 15:42] Dschoni commented on #154
@bcollazo this will not help in the case of a silent fail in one single execute statement e.g. as a result of a constraint violation (see my linked example).

[2018-12-14 20:22] #185 closed

[2018-12-14 20:51] sitingren opened #243 "Add new API for notice messages/warnings"
As mentioned in #185, other clients have polling (e.g. JDBC's ResultSet.getWarnings()) or event driven (ADO.NET's InfoMessage) API's to check for warnings out of band. We need something like that for vertica-python. #242 just added a simple __print__ to notice messages.

Please add comments if you have suggestions for the API design. Thanks!

[2018-12-19 20:13] jordiyeh opened #246 "Add Identity Data Type Support"
When trying to use SQLAlchemy with vertica-python and sqlalchemy-vertica-python, a simple model like the following

class Person(db.Model):
    id = db.Column(db.Integer, primary_key=True)

will result in an error

Type "SERIAL" does not exist'

and the SQL will try to create the following DDL

CREATE TABLE "Person" ( \tid SERIAL NOT NULL,

This can be enhanced, if the Identity data type is includ

[2018-12-19 21:08] sitingren commented on #246
I think this is a problem of sqlalchemy-vertica, not vertica-python. vertica-python does not prevent you from defining an AUTO_INCREMENT/IDENTITY column. You'd better post your request at sqlalchemy-vertica's Github page.

[2018-12-20 14:36] jordiyeh commented on #246
@sitingren Thanks for the response. I will take a look at sqlalchemy-vertical, but I don't see any references to sqlalchemy-vertica-python package in the following traceback.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/pyvirtualenv/flaskaqlalchemy/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py", line 963, in create_all
    self._execute_for_all_tabl

[2018-12-20 14:36] #246 closed

[2018-12-20 14:45] jordiyeh commented on #246
Thanks. Let me check further.

[2018-12-28 15:41] sitingren commented on #210
The protocol version is upgraded to 3.4 in commit [5be9fc94a7](https://github.com/vertica/vertica-python/commit/5be9fc94a7894bac179a628bc16223ace727f6ee). Now you can see "Error Code" from the raised Exception.

[2018-12-28 15:41] #210 closed

[2019-01-02 19:34] jordiyeh commented on #107
FYI - I had a successful update statement using sqlalchemy-vertica-python with the following patch

https://github.com/LocusEnergy/sqlalchemy-vertica-python/pull/31

[2019-01-04 09:44] mikeengland opened #251 "Messages are being printed to console via a print statement since v0.8.1"
In the commit https://github.com/vertica/vertica-python/commit/feb7869c65f5bbaaa0033557c847e58e55b58c08#diff-08e1a2fc0457d9f1c5a22e5344108fa4R470 (new line 470), the code executes a print statement if there is a message.

Please can this be changed to either a Python warning or a log message so it can easily be ignored when using vertica-python as a third party module?

[2019-01-04 17:11] sitingren commented on #251
Thank you for your feedback! We have an open issue #243 to gather ideas about message handling. Please leave your suggestions there. It would be great if you also describe your expectation about message handling behaviors when using vertica-python as a third party module.

For now, if you feel it is annoying, feel free to comment out that print statement in your installed package.

[2019-01-04 17:12] #251 closed

[2019-01-22 09:17] Runython opened #254 "User Defined Function"
There is no User Defined Function in vertica-python.

It'd like `conn.create_function(... ...)` in SQLite3.

[2019-01-23 04:02] sitingren commented on #254
@Runython `conn.create_function(... ...)` is not a function defined in [DB-API](https://www.python.org/dev/peps/pep-0249/) standard, it is a non-standard function specifically defined in SQLite3. So this feature is probably not in our scope for a while. If you want to have this functionality, please see [Developing User-Defined Extensions (UDxs)](https://www.vertica.com/docs/9.2.x/HTML/Content/Aut

[2019-01-23 20:38] flyninjacode opened #255 "Duplicate key values error is not thrown as exception and is getting ignored"
I'm trying to capture 'Duplicate key values error ' message if there is any insert statement that is violating the primary key constraint. In the following code I created a 'demo' table with 'demo_id' as the primary_key and tried to insert the same row twice.
Example:
`connection = v.connect()
cursor = connection.cursor()
cursor.execute("""
               DROP TABLE IF EXISTS demo;

[2019-01-23 22:37] sitingren commented on #255
@flyninjacode Thanks for reporting this problem. I don't know if there is an existing solution, but the quick workaround I think is to call cursor.fetchall() after your second INSERT execution. I'll do further investigation and let you know if there is an update.

[2019-01-24 15:26] Vicolatope opened #256 "Is there any way to get the count of copied rows after a COPY statement (using cursor.copy) ."
Hello,
first of all, thank you for this module which works perfectly for me !
I just couldn't figure out any way to get the count of inserted rows after a COPY statement.
Is there any way to get this number ? Thank you !!!

[2019-01-24 19:09] sitingren commented on #255
Here are protocol messages that are sending(=>) and receiving(<=) during those two INSERT executions:
[code]
The logic of `cursor.execute()` makes the function stop reading remaining protocol messages if it receives a DataRow message. But since the client doesn't receive a CommandComplete message, that means the server is still running the query and errors can be thrown afterward.

When you run `c

[2019-01-24 19:41] sitingren commented on #256
Query `select get_num_accepted_rows();` is one way to get the count of inserted rows. See [Vertica Documentation](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/AdministratorsGuide/BulkLoadCOPY/MonitoringCopyLoadsMetrics.htm?tocpath=Administrator's%20Guide%7CBulk-Loading%20Data%7C_____13). Looking at the implementation of `cursor.copy()`, I'm not sure how to retrieve the count number fr

[2019-01-25 13:17] Vicolatope commented on #256
Thank you for your quick response ! For my use, this query seems to do the job very well ! Thank you for your work

[2019-01-31 18:44] sitingren commented on #256
@Vicolatope I'm glad this workaround works for you!

Here is what I find after investigations: In a regular `COPY from files` (e.g. `cursor.execute("copy copytests_1 from '/path/to/data'")`), you should get the accepted row count with `cursor.fetch*()`. The problem you encounter (maybe only in a `COPY from STDIN`) is a limitation imposed by the server. It is tricky for the server to return accepte

[2019-01-31 18:44] #256 closed

[2019-02-05 13:23] petervanhooft opened #257 "SSL connection fails on DNS round robin and ssl_context.check_hostname = True"
We use a DNS round robin to connect to a Vertica cluster. Connecting with SSL and ssl_context.check_hostname = True doesn't work, because ssl_options.wrap_socket(raw_socket, server_hostname=host) in enable_ssl gets an IP address passed as server_hostname parameter, and that won't work with certificate hostname check.
Proposed patch:

[patch.txt](https://github.com/vertica/vertica-python/files/2832

[2019-02-07 19:35] sitingren commented on #257
@petervanhooft Thanks for reporting this bug! The test suite lacks of SSL testing, so it is hard to verify it works.

Here are some of my advise to your patch:
[code]
It'd be great if you can share your settings and an example program for reproducing this bug.

You can create a pull request once you test your bugfix manually (Testing with different python versions would be better!). Please see [CO

[2019-02-12 16:58] HaymanLiron commented on #198
I also encountered this issue. I'm working on a fix for this. I think in the meantime the read_timeout parameter should be removed. It is confusing for users who set this parameter to something other than 600 and then see that it doesn't change anything.

[2019-02-12 18:00] sitingren commented on #198
@HaymanLiron That's great, thank you for your help!

[2019-02-25 10:40] petervanhooft commented on #257
Hi, I'm told by legal that I can't sign the CLA, but I can submit the patch directly.
- is it reasonable to get the hostname from IP address with`socket.gethostbyaddr(host_ip)`?
No, because you can have only one certificate per Vertica cluster, so the hostname won't match the certificate. I didn't test the case yet where you have your vertica cluster in a subdomain and have a wildcard certificate.

[2019-02-25 23:09] sitingren commented on #257
@petervanhooft Ok, I'm sorry that you cannot sign the CLA. We are glad to listen if you would like to tell us the reason, so that we can see if there is a workaround. If you don't sign the CLA, you are unable to merge your work to the repo. Do you authorize me to create a new PR with your patch and merge to master branch?

[2019-02-26 06:27] petervanhooft commented on #257
Hi, this is what I received:
I reviewed the CLA and I do not like the way it is signed only once. Once signed, it does not only cover your current patch but any future submission - I assume that any future submission bypasses the CLA (until the CLA is changed) and that such gating is done on a per-company and not on a per-user basis - in that case we have no control over what we are submitting in

[2019-02-27 07:20] sangram66 opened #259 "vertica-python-0.8.2 on Python 2.7"
Hi,

I'm new to python, kindly bear with my naive questions.
We are using vertica-python-0.7.4 on Python 2.7.5 and it is working without any error.
Now we want to make use of backup_server_node configuration, so tried using vertica-python-0.8.2
But using this I'm getting below error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "test.py", line 50, in __call__

[2019-02-27 14:31] sitingren commented on #259
For your first question, I think your 0.7.4 source code must be modified. I checked source code history, there is no change between 0.7.4 and 0.8.2. And apparently `errors='unicode_error'` claimed unicode_error variable as a string is impossible. Can you run `from builtins import str` successfully? The `str()` is called from builtins, not the default one that python provides. If you hit "ImportErr

[2019-02-27 19:45] sangram66 commented on #259
Thanks Siting,

I guess they are modified.
1) for your question "Can you run `from builtins import str` successfully?" yes

try:
    import builtins
except ImportError:
    import __builtin__ as builtins

2)  "How did you install vertica-python on your server without pip and virtualenv?"
-- We are using the library in local instead of installing.
sys.path.append('/lib/vertica-python-0.7.4')
sys.pa

[2019-02-27 20:39] sitingren commented on #259
Some more background...

What `lambda s: str(s, encoding=UTF_8, errors=unicode_error)` is doing is that it __decode__ a byte-string (received from server) to a unicode string (as the varchar data result send to user). Translating a unicode string into a byte-string is called __encoding__, so .encode() is not the right thing to do. I guess your data don't have special characters, so it is working.

[2019-03-01 04:47] sangram66 commented on #259
Thanks a lot !!!

[2019-03-04 17:15] #259 closed

[2019-03-07 15:40] pankajs99 commented on #147
Check the latest commit, this is all set!

https://github.com/vertica/vertica-python/pull/266
https://github.com/vertica/vertica-python/tree/d2a0e3e9bfb011417646e3d40a8b4ed0f28148e9

[2019-03-07 20:24] #107 closed

[2019-03-08 14:16] #147 closed

[2019-03-11 17:53] darwinyip opened #267 "[Question] What is the difference between the SDK and this repo?"
What is the difference between this repo and https://www.vertica.com/docs/9.2.x/HTML/PythonSDK/index.html ?

[2019-03-11 18:24] sitingren commented on #267
Python SDK is one of [User-Defined Extensions (UDxs)](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ExtendingVertica/UDx/DevelopingUDxs.htm?tocpath=Extending%20Vertica%7CDeveloping%20User-Defined%20Extensions%20(UDxs)%7C_____0) Vertica provides. Please see [the Vertica documentation](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ExtendingVertica/Python/IntroductionPythonSDK

[2019-03-12 15:25] #267 closed

[2019-03-12 17:00] #180 closed

[2019-03-14 20:34] sitingren commented on #257
@petervanhooft The lawyer from our side is still thinking about the CLA issue; in the meantime we need more test framework work to support SSL anyway, so we will likely want to implement your change ourselves as part of a broader effort to better support SSL. I'll keep this issue open until we decide what we will do. Thanks!

[2019-03-22 05:49] ruojol opened #269 "Add an example on how to enable the package to use SHA512 auth"
Add an example of conn_info dict on SHA512 key support. Doing the connection via the example
`conn_info = {'host': '127.0.0.1',
             'port': 5433,
             'user': 'some_user',
             'password': 'some_password',
             'database': 'a_database',
             # autogenerated session label by default,
             'session_label': 'some_label',
             # 10 minutes timeo

[2019-03-22 12:01] sitingren commented on #269
@ruojol Please note the SHA512 support is currently on master branch, not in any release. It will go into next release very soon. Thanks.

[2019-03-22 22:04] sitingren commented on #269
See discussion in #266.

Also, there is a [test](https://github.com/vertica/vertica-python/blob/c5668404b73dd19909d93279e9993d64025cd1a6/vertica_python/tests/integration_tests/test_authentication.py#L31) for SHA512, please take a look if you are interested.

[2019-03-22 22:04] #269 closed

[2019-03-25 21:37] alecsaunders opened #272 ""THROW_ERROR" function does not throw error in vertica_python using python3"
The Vertica [Error-Handling Function](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/SQLReferenceManual/Functions/Error-handling/THROW_ERROR.htm) `THROW_ERROR` does not in fact throw an error on execution when using vertica_python using python3.

Python Version: 3.7.2
Vertica-python version: 0.9.1

When I execute the sql containing the THROW_ERROR function python does NOT throw an error

[2019-03-26 21:57] sitingren commented on #272
@alecsaunders Thanks for reporting. This is a similar issue of #255. Please read the explanation in #255.

Here are protocol messages that are sending(=>) and receiving(<=) during sql executions:
[code]
In vertica-python version 0.9.1, the logic of `cursor.execute()` makes the function stop reading remaining protocol messages if it receives a RowDescription message. For your specific problem, we c

[2019-04-07 09:13] pcerny commented on #198
I recently also hit this issue. My use case requires two timeouts, one for establishing connection with Vertica and one for waiting to query response. When the Vertica node is healthy, there is no reason to have 2 timeouts but when client tries to connect to node with some issue (TCP socket still open but Vertica node does not respond to it) it is more than useful. And yes, we hit this unlikely sc

[2019-04-08 12:44] hixus opened #275 "Any way to export large dataset from python vertica"
There seems to be copy from SDIN for reading large datasets but is there any fast way to read the results to client filesystem? Iterating cursor seems too slow if there are millions of rows.

[2019-04-08 22:18] sitingren commented on #275
@hixus Here is what I know about vertica server and client:

1. There is no SQL statement in Vertica like `COPY table TO file` to write the content of a database table to an operating system file on the client machine.
2. vertica-python implements the [Python DB-API v2.0](https://www.python.org/dev/peps/pep-0249/#cursor-methods) protocol and does not add so many optional extensions. There is no cu

[2019-04-09 15:53] mm57950 commented on #83
Another extreme case: if I set **read_timeout = 0.000000001**,  what will happen? Most operations will be halted?

[2019-04-09 21:08] sitingren commented on #275
If you want to improve the performance of exporting data by iterating cursor, here are something you can try:
1. Use [PyPy](https://pypy.org/) interpreter: some of our experiments shows PyPy has a better read performance than CPython interpreter. Switch your python interpreter and see if the export speeds up:
   - Install pypy on your machine.
   - Install vertica-python and its dependencies on py

[2019-04-10 06:22] hixus commented on #275
Ok thanks. I'm working on Apache Airflow Vertica operator so thats why vertica-python would have been preferred. Decided to do queries in to a new table and after that wrapped vsql for exporting the data to a client.

[2019-04-10 06:22] #275 closed

[2019-04-10 17:28] #272 closed

[2019-04-11 20:30] sitingren commented on #198
@pcerny I agree to use existing `errors.TimedOutError` and I also think it's better to rename 'connection_timeout' option to a more accurate name.

As of today, the 'connection_timeout' option is actually setting socket timeout, which means it sets the maximum wait time for:
1. Establishing a TCP connection to each server address.
2. A single call to socket read/write operation ([socket.recv()](ht

[2019-04-11 20:45] sitingren commented on #183
Duplicate of #198

[2019-04-11 20:45] #183 closed

[2019-04-17 10:19] roveo opened #280 "Iteroperation with SqlAlchemy broken in 0.9.2"
[code]

Result:
[code]

[2019-04-17 13:20] roveo commented on #280
Looks like the change was made in #276
I'm using [LocusEnergy/sqlalchemy-vertica-python](https://github.com/LocusEnergy/sqlalchemy-vertica-python) for connecting from Jupyter and it has [namedparams] in the requirements.

[2019-04-17 13:32] sitingren commented on #280
Please report this issue to LocusEnergy/sqlalchemy-vertica-python.

[2019-04-23 20:38] kdasoulas opened #281 "Suggested enhancement in regular expression for cursor.executemany"
In many cases the INSERT statement has many columns and as a result we need to break the statement across multiple lines.

However, if we pass the statement as a multi-line comment (which is much easier compared to having to concatenate a different string for each line), the regular expression in cursor.executemany fails and we cannot utilize it.

To be exact, it fails **only** when we use one or

[2019-04-23 21:29] sitingren commented on #281
@kdasoulas Thanks for reporting this issue. Feel free to open a pull request with your bugfix if you want (read up on our [contributing guidelines](https://github.com/vertica/vertica-python/blob/master/CONTRIBUTING.md) first).

Alternatively, please try `cursor.executemany(..., ..., use_prepared_statements=True)` as the function would go through a different code path.

[2019-04-24 15:09] #281 closed

[2019-04-29 20:59] sitingren commented on #83
This issue is out-of-date as 'read_timeout' option is removed.

@mm57950 I think the answer for your question is yes.

[2019-04-29 20:59] #83 closed

[2019-06-05 15:52] pcerny opened #288 "Various exceptions overlapped by ConnectionError in python 2.7"
The issue is related to versions 0.9.1 and 0.9.2. But it is probably manifested on versions newer then 0.6.14 (not and exact version number).

On several places, there is used construct `raise_from(errors.ConnectionError, e)`. It tries to introduce compatibility between python 2 and python 3 based on six library. Unfortunately, six library implements `raise_from(a,b)` as `raise a` in python 2, see

[2019-06-06 17:15] sitingren commented on #288
@pcerny I agree with you.

On the other hand, as Python 2 end-of-life will be on January 1st, 2020, I wonder if it worth to make such a change or get rid of the Exception chaining completely. `raise_from` does not been used so many times in vertica-python, I guess raising those exceptions directly won't affect too much.

[2019-06-10 01:22] pachewise commented on #280
Hi @sitingren - sqlalchemy-vertica-python doesn't have any support right now. One of their former contributors mentioned that they asked if vertica could take over support here, but that there wasn't any bandwidth for that (see convo at https://github.com/LocusEnergy/sqlalchemy-vertica-python/issues/35). We use both vertica_python and the sqlalchemy-vertica-python adapter at my company, but given

[2019-06-14 14:13] pcerny commented on #288
@sitingren It depends when you plan to drop support for Python 2. If you will follow Python 2 EOL date then it is not worth to fix it.

I think it is a good idea to enclose exceptions with library ones like `ConnectionError` or `TimeoutError`. It makes it a lot easier to work with library then because you can easily distinguish between library specific errors.

[2019-06-19 16:41] bryanherger opened #290 "Connection pooling support"
Does this driver support connection pooling, either natively or via another package?

If not, is there a plan to implement connection pooling in this driver?

[2019-06-21 09:37] ivan-ponomarev opened #292 "cursor.executemany() implicitly commits the data"
Calling `cursor.executemany()` commits the data if `use_prepared_statements` set to False even if you do `cursor.execute('ROLLBACK;')`.

I think it because it is implemented with `COPY` command but without `NO COMMIT` option.

I'm not sure this is expected behaviour.

[2019-06-21 10:24] Dschoni commented on #292
AFAIK `autocommit=True` is standard in Vertica Connections.

[2019-06-21 10:27] Dschoni commented on #292
See also https://github.com/vertica/vertica-python/issues/232

[2019-06-21 11:42] ivan-ponomarev commented on #292
@Dschoni It happens even if I explicitly open transaction. Here is my sample script:
[code]

[2019-06-21 11:47] Dschoni commented on #292
In this case, I am pretty sure the behaviour is unexpected and it should be fixed. Thanks for that self-contained minimal example.

[2019-06-21 17:53] tomwall commented on #292
Yep, that's definitely a bug. When the statement is rewritten as COPY STDIN, it needs to be aware if autocommit is enabled and add NO COMMIT as needed to preserve INSERT semantics.

https://github.com/vertica/vertica-python/blob/master/vertica_python/vertica/cursor.py#L206

[2019-06-21 19:08] #292 closed

[2019-06-21 19:25] tomwall commented on #290
No, vertica-python does not implement connection pooling. Doing so is not a priority at this point in time.

Connection pooling is not as beneficial for Vertica as it is for more traditional OLTP databases, where the latency of establishing a connection could constitute a majority of the overall runtime of the query or request. Vertica workloads usually consist of a relatively small volume of larg

[2019-06-21 19:25] #290 closed

[2019-06-25 11:11] dmitrypolo commented on #257
@sitingren is there any update on this issue, the company I work at currently faces the same issue. We have load balancing and having the `check_hostname` flag set to `True` causes failure. It sounds like you want to add more `SSL` tests, perhaps you can elaborate what you are looking for and I can try to get a PR together.

[2019-06-25 21:55] sitingren commented on #257
Thanks @dmitrypolo, you are welcome to create a new PR.

Adding SSL tests requires server configuration and client cert setup, which means we need to modify the test framework (.travis.yml and maybe other files). Currently I don't have a good idea about how hard it is.

If you don't add SSL tests with your PR, I recommend testing your bugfix manually with all combinations like #258. As of today, o

[2019-07-11 14:21] bryanherger opened #296 "Issue setting DEFAULT_USER in AWS serverless environment"
We're seeing an issue on AWS serverless scripts (Glue, Lambda) where DEFAULT_USER is set to the login user, but on AWS serverless there is no real user account associated, so the call fails:

[code]

Can you add error handling at "vertica/connection.py, line 60" to set the default to "dbadmin" if getpass.getuser() fails?

[2019-07-11 14:23] bryanherger commented on #296
Context on Vertica Forum:  https://forum.vertica.com/discussion/240770/load-data-from-spark-dataframe-to-vertica-from-aws-glue#latest

[2019-07-11 15:09] tomwall commented on #296
Thanks for the report. This is an interesting use case and the serverless security model clearly wasn't anticipated.

I don't think it is appropriate to use dbadmin as a default user. dbadmin is not necessarily a valid user, and if it is, it is a very privileged user. If someone forgot to set a username in this environment and it defaulted to dbadmin, the dba would probably not appreciate a bunch

[2019-07-15 19:16] #296 closed

[2019-07-29 16:39] ddpimkin opened #299 "Cursor.close() tries to close prepared statement even if doesn't exist"
Hi!

Current behaviour on close cursor:
[code]
Cursor object tries to close prepared statement even if doesn't exist.
But when there is no prepared statement, this manipulation leads to unexpected behavior: it makes backend think that `transaction_status` is `T` (in_transaction) even if it's not the true.
Ultimately, this prevents to make automatic commit (`self.commit()`) when exiting from `Conne

[2019-07-29 19:22] sitingren commented on #299
@ddpimkin Thanks for reporting this. I think this is a problem about updating "transaction_status" lazily, not close prepared statement.

After you run `cur.execute('insert into tmp_test_cursor values (1)')`, `transaction_status` actually is `T` (in_transaction), but `__exit__()` still get the old value `no_transaction`. So that's why you see a commit after you modifying `cursor.close()`. If you e

[2019-07-29 19:38] ddpimkin commented on #299
Thanks for your reply!
You are right. I looked at messages from backend again and found that after my insert statement Vertica responded with `T`, exactly like you said.
I will do commit manually.

[2019-07-30 15:51] #299 closed

[2019-07-31 10:25] I-akshay opened #301 "How to check if database connection is expired in python"
Hello Community,
I am connecting python with Vertica but after some time connection is getting expired, I really want that when the connection gets expired my status gets changed In mysql we have connection.is_connected() method which is true if the connection is still maintained but if it expires it gives false , Do we have a similar function in Vertica

Thanks

[2019-07-31 18:31] sitingren commented on #301
@I-akshay Yes, vertica-python have similar functions: `connection.opened()` and `connection.closed()` return Boolean values.

Can you tell me what's the current behavior when your connection is getting expired?

[2019-08-01 09:00] I-akshay commented on #301
HI @sitingren
Thanks for your response, really appreciate, but it is not working

For example :

conn_info = {'host': '10.63.4.301', 'port': 5433, 'database': 'personaldwh','user': 'username', 'password': 'username123'}
connection = vertica_python.connect(**conn_info)
cur = connection.cursor()

Now lets says i wait for 45 mins now,

cur.execute("Select 1")
This statement is throwing isssue (Connec

[2019-08-02 03:07] sitingren commented on #301
This `connection.opened()` function generally cannot be called to determine whether a connection to a database is valid or invalid, it does passive checking. Unfortunately, there is no function to actively determine if a connection is expired.

You can determine that a connection is expired by catching exceptions that might be thrown when an operation is attempted. `select 1` is a good dummy state

[2019-08-21 00:52] DerrickRice opened #303 "format_operations_with_parameters is not sql-injection-safe"
The example queries in documentation give the impression that the following is a reasonable way to construct queries:

[code]
Upon code review, there are the following concerns:

1. `Cursor.format_operations_with_parameters` takes direction from the type of the input, rather than the specifier of the placeholder. Unclear if this is an issue, since the subsequent Python-native `%` operation may han

[2019-08-21 03:55] sitingren commented on #303
This is one of the parameter style defined in DBAPI 2.0 (https://www.python.org/dev/peps/pep-0249/#paramstyle). Placeholders in the statement are represented by `%s`. It is not used for formatting string. `%d`,`%x`,`%f`,etc are not valid placeholders. Same as using server-side prepared statements, the placeholder cannot be placed anywhere in the query string, it should represent a value. It is exp

[2019-08-21 12:34] #303 closed

[2019-08-23 03:25] ranjanp75 opened #304 "Request for bringing up local vertica container automatically for integration tests"
Currently, the integration tests require the developers to manually install the vertica container for running the integration tests. However, installing and bringing up vertica can be a very daunting task . I would like to propose automating the process through the following steps.

1. Install docker on the machine
2. Run the vertica container  https://github.com/jbfavre/docker-vertica
3. Run the

[2019-08-23 03:27] ranjanp75 commented on #304
@sitingren I would like to work on this enhancement if it sounds good for running integration tests on local vertica

[2019-08-23 03:48] sitingren commented on #304
@ranjanp75 Thanks for providing your opinion! Can you tell me which file(s) are you going to modify/add to implement your proposed process?

[2019-08-23 04:43] ranjanp75 commented on #304
I have a method to achieve this.
In the tox.ini file under "commands" shell commands to achieve the above tasks can be written before and after the nosetests command

[2019-08-23 15:25] sitingren commented on #304
@ranjanp Here's some of my thoughts:
1. Do you have mechanisms to make it be optional? Not every developer needs a Vertica docker container.
2.  Spining up a vertica container is time-consuming. Is it efficient to re-create a container every time you restart `tox`? To me, this is a one-time setup locally and I can change codes and run tox tests for multiple times.
3. The `tox.ini` in the repo is m

[2019-08-23 15:47] sitingren commented on #296
The os login user is something client sends to server in Startup message. So `getpass.getuser()` was used when constructing the Startup message. Fixed now.

[2019-08-28 08:29] arumugaguru commented on #43
Hi

I tried the above example but it is not working. I can see the data in the buffer but it is not getting loaded into Vertica

Could someone please help me if i am missing anything in my code.

Thanks

My Code:

import vertica_python
import csv
from datetime import datetime
import pandas as pd

with open('test.csv', newline='') as csvfile:
    data = list(csv.reader(csvfile))

# Enable using ser

[2019-08-30 15:59] ranjanp75 commented on #304
@sitingren thanks for the information. I will work on it if I get a way to do it . Are there any priority features I can work on ? Thanks

[2019-08-30 17:58] sitingren commented on #43
@arumugaguru Can you enclose your code with ` ``` ` so that it displays the indentation correctly? Your current code is hard to read. Thanks.

[2019-09-03 21:09] sitingren commented on #304
@ranjanp75 There are no feature that has higher priority than others. You can look at the open issue list and work on anything that you are interested in.

[2019-09-04 18:07] DerrickRice opened #309 "FIELD_DEFINITIONS for NoticeResponse (and others?) not compatible with Python3"
https://github.com/vertica/vertica-python/blob/b6d5dff4cb3f460ff6a479047c5365736db96d86/vertica_python/vertica/messages/backend_messages/notice_response.py#L46-L81

`FIELD_DEFINITIONS` has the field "name" as string literals. It is important for the field names found on the wire (i.e. in `data`) to match by name.

In Python3, those names would be strings, aka unicode, which are not equal to (`==`)

[2019-09-04 18:12] DerrickRice commented on #176
AttributeError: 'error' object has no attribute 'message' is from #309

[2019-09-04 19:53] DerrickRice commented on #309
## Reproducer
[code]

## Python2.7 output
[code]

## Python3 output
Paths redacted
[code]

[2019-09-04 20:26] sitingren commented on #309
The 'message' attribute was mark deprecated in 2.6 and was removed in Python3.
https://www.python.org/dev/peps/pep-0352/

 `str(err)` instead of `err.message` should do the trick.

[2019-09-04 20:41] DerrickRice commented on #309
It looks like what I wanted was `err.error_message.foo` (whether `.message`, or `.error_code` or other) and it works in Python3.

[2019-09-04 20:41] #309 closed

[2019-09-10 21:59] #195 closed

[2019-09-13 16:42] DerrickRice opened #312 "Python3 ConnectionError unfriendly __str__ value"
In Python3, ConnectionError (and possibly others) have unfriendly string values.

[code]

## Python 3

Database requires a password, but none is provided:
[code]

## Python2.7

[code]

[2019-09-13 16:43] DerrickRice commented on #312
Wish list: Access to the individual elements of the error (such as the severity, message, and sqlstate).

Minimum required: don't stringify with `b'...'` due to byte/str issues in Python3

[2019-09-25 15:34] zlordaccount opened #313 "Retrieve ConnectionError message"
Hey Community,

I'm working with Vertica_python 0.9.5 and am hoping to get the message stored in the Connection Error for use with some specific messaging out to the end user.

Is this possible?

Attempting to use the vp.errors.ConnectionError(message.error_message()) code which is raised in pycharm when there is an error it fails out because message doesn't exist evidently.

Any assistance apprec

[2019-09-26 03:40] sitingren commented on #313
@zlordaccount Can you give me an example? I'm not sure if I understand your question.

If message is an instance of NoticeResponse or ErrorResponse, `message.error_message()` would return all details as a string. `message.sqlstate`, `message.severity`, `message.error_code`, etc. are attributes of specific detail. You can find those attribute names at [here](https://github.com/vertica/vertica-pytho

[2019-09-26 22:42] DerrickRice opened #314 "ConnectionError raised with no explanation (raise_from)"
When a ConnectionError is raised by type, as is seen in the `raise_from(...)` usages below, it is created with no message. As a result, it's `str()` value is empty in Python3.

https://github.com/vertica/vertica-python/blob/b5f1e44f16f18ff476071be7aa05355fc9e913b5/vertica_python/vertica/connection.py#L432-L435

https://github.com/vertica/vertica-python/blob/b5f1e44f16f18ff476071be7aa05355fc9e913b5

[2019-09-26 22:43] DerrickRice commented on #313
Related issues #312 #314

[2019-09-30 17:14] DerrickRice opened #315 "RFE: Socket Keepalive"
The current implementation of connection timeout means that any query taking over `connection_timeout` seconds will fail with a ConnectionError.

Add keepalive to be able to distinguish from unresponsive connections and connections that are waiting.

[2019-10-02 01:48] sitingren commented on #315
Are you requesting a feature like #205?

[2019-10-02 15:28] sitingren commented on #314
Related issue: #288

@DerrickRice Yes, your recommendation makes sense.

[2019-10-02 15:53] #314 closed

[2019-10-02 15:56] sitingren commented on #304
Close this issue for now. Please reopen when you have new updates.

[2019-10-02 15:56] #304 closed

[2019-10-03 13:23] DerrickRice commented on #315
Yes

[2019-10-07 14:52] #315 closed

[2019-10-07 18:53] #204 closed

[2019-10-23 01:11] manselmi opened #322 "Replace pytz with python-dateutil"
vertica-python only leverages pytz for its `pytz.utc` `tzinfo` object, whereas python-dateutil is used for parsing timestamp strings.

Since python-dateutil also provides a `dateutil.tz.tzutc()` `tzinfo` object, let's replace `pytz.utc` with `dateutil.tz.tzutc()` and remove vertica-python's dependency on pytz. This would reduce the number of dependencies on third-party datetime extension libraries

[2019-10-24 19:04] #322 closed

[2019-10-27 22:02] manselmi opened #325 "Cursor.copy: support temporary files"
On some platforms, `tempfile.TemporaryFile` creates a `tempfile._TemporaryFileWrapper` instance which does not subclass `io.IOBase`. This makes `TemporaryFile` ineligible for use with `Cursor`'s `copy` method on those platforms. Also, neither of the other two temporary file types `tempfile.NamedTemporaryFile` and `tempfile.SpooledTemporaryFile` subclass `IOBase`, making them ineligible for use wit

[2019-10-29 15:30] #325 closed

[2019-10-30 16:58] #312 closed

[2019-11-01 12:47] leonidlee opened #330 "future is a python core module"
Future is listed in dependency.
But we can find that it is a python core module.
[python documentation](https://docs.python.org/2/search.html?q=__future__)
and:
[code]
So there is no need to mention it in setup.py and requirements.txt.

The reason I opened this issue is a number of security issues in the project future that is located on https://github.com/PythonCharmers/python-future (source code

[2019-11-01 17:57] sitingren commented on #330
Hi @leonidlee Thanks for your suggestion.

The `builtins` module is used in vertica-python:
https://github.com/vertica/vertica-python/search?q=builtins&unscoped_q=builtins

My experience is that if I don't install `future` in python2.7, when using vertica-python I can get the [error](https://stackoverflow.com/questions/27495752/no-module-named-builtins): `ImportError: No module named builtins`. Th

[2019-11-06 22:06] AdityaRon commented on #193
I have the same issue. I need to be able to see the query with parameter substitution. Tried printing cursor.operation which gives the query before substitution.

[2019-11-06 22:18] bradleyhurley commented on #193
@AdityaRon - I don’t actually use Vertica anymore, but if I have some free time I will download the community edition and open a PR. In my use case we did all of the SQL variable substitution outside of vertica-python and used Jinja. With the Jinja approach the sql string you pass vertica-python is ready to be executed.

[2019-11-06 23:19] sitingren commented on #193
@AdityaRon For `Cursor.execute()`, you can set log level to `INFO` or greater to see the query with parameter substitution in log file. `Cursor.executemany()` does not do parameter substitution at client side so this cannot be applied.

It is recommended to use prepared statement if you are using SQL variable substitution, which is a safer option. Please see `Query using server-side prepared state

[2019-11-06 23:50] AdityaRon commented on #193
@sitingren  Appreciate the quick response. It worked! I didn't have to use server-side statement though. Infact it didnt work with server side statement, It was just printing the bind parameters. I used client side statement and set the logging level to info and boom it printed the prepared statement in the log!

[2019-11-07 01:33] DerrickRice commented on #313
With https://github.com/vertica/vertica-python/pull/328, getting the error message from a QueryError is simple.

ConnectionErrors never had an internal error or notice response, but they did lack the original error text. That's been fixed with https://github.com/vertica/vertica-python/pull/317

I suspect your question is answered with these changes.

[2019-11-07 17:01] leonidlee commented on #330
Hi @sitingren I checked:
Python 2.7.5 does not contain builtins
Python 2.7.16 contains.
But Centos 7 is bundled with Python 2.7.5.

According to https://www.python.org/doc/sunset-python-2/ python 2 will retire in 1 month.
So it would be good to remove python 2 support at all.
What do you think?

[2019-11-12 20:35] sitingren commented on #330
@leonidlee Yes, that's reasonable. But right now I don't have cycle to evaluate the behavior change for Python2 and finish this task. We still have to take care of python2 users in these two months. I'd rather make this change after Jan 1, 2020 if nobody do this for me.

[2019-11-16 17:30] chanansh opened #335 ":prop does not work"
query includes: "where column_1 = :name"

query is executed as .execute(query, {'name': 'whatever'})
returns error   File "/Users/hanans/anaconda3/lib/python3.6/site-packages/vertica_python/vertica/cursor.py", line 116, in execute
    raise errors.QueryError.from_error_response(self._message, operation)
vertica_python.errors.VerticaSyntaxError: Severity: b'ERROR', Message: **b'Syntax error at or n

[2019-11-16 17:54] chanansh opened #336 "couldn't import psycopg2.extensions.QuotedString"
psycopg2 is needed in vertica_python/vertica/cursor.py:
[code]
yet is missing in setup.py:

[code]

[2019-11-16 20:26] #335 closed

[2019-11-16 20:27] chanansh commented on #335
my bug

[2019-11-16 20:27] chanansh opened #337 "header name is missing from result cursor"
how does one get the header column names from the query?

[2019-11-17 01:43] sitingren commented on #337
After executing a query, use [Cursor.description](https://www.python.org/dev/peps/pep-0249/#description) to get columns info. For example,

[code]

[2019-11-17 01:47] sitingren commented on #336
Please ensure you are using the latest version of vertica-python. psycopg2 dependency has been removed since [0.9.2](https://github.com/vertica/vertica-python/releases/tag/0.9.2).

[2019-11-17 01:47] #336 closed

[2019-11-17 01:49] sitingren commented on #313
@zlordaccount Re-open this issue if you have further questions.

[2019-11-17 01:49] #313 closed

[2019-11-17 08:48] chanansh commented on #337
`        col_names = [c.name for c in cur.description]
`

[2019-11-17 13:14] chanansh opened #338 "sql injection hazard?"
Since the current code uses re.resub someone can pass a parameter which is actually an sql statement.
Or maybe I am wrong?!
see https://realpython.com/prevent-python-sql-injection/

[2019-11-17 15:41] #337 closed

[2019-11-18 01:56] sitingren commented on #338
Please read "Query using server-side prepared statements:" section in the [Readme](#README.md).

[2019-11-19 03:38] oualib opened #339 "Is it possible to get a cursor thanks to a DSN ?"
I just wonder if it is possible to create a cursor without entering implicitly the credentials, something like: conn(dsn = "VerticaDSN").cursor() ??

[2019-11-19 04:16] sitingren commented on #339
What do you mean for “VerticaDSN”? Currently we support it to be a connection string:
`vertica_python.connect(dsn='vertica://(user):(password)@(host):(port)/(database)?(arg1=val1&arg2=val2&...)')`

Otherwise, you have to manually read credentials from environment variables or files.

[2019-11-19 12:55] oualib commented on #339
Ah ok, because pyodbc provides a very simple way to connect without entering manually the credentials looking at your ODBC.ini. Is it on the roadmap otherwise I can code it?

[2019-11-19 13:31] oualib commented on #339
I just did it in case:

[code]

It will read the ODBCINI file and parse the DSN to extract the info

[2019-11-19 16:56] sitingren commented on #339
Generally, I don't think this will not be a reasonable change.

pyodbc needs to be compliant with ODBC, so pyodbc can look at your ODBC.ini. _vertica-python_ is compliant with [DB-API](https://www.python.org/dev/peps/pep-0249/) and there's no constraint that it must complicant with ODBC as well. Adding such ability of reading the ODBCINI file will create a maintenance burden and add dependency to

[2019-11-19 16:56] sitingren commented on #339
Asking for @tomwall 's opinion.

[2019-11-20 12:54] AlexandreYang opened #340 "Allow to enable logging without file handler"
## The issue

It seems currently not possible to activate logger without also setting up the file handler:

[code]

https://github.com/vertica/vertica-python/blob/master/vertica_python/vertica/connection.py#L248

In some cases, we just want to enable the logger, but we don't want to log in a file and use the root logger handlers instead. Example [in this case](https://github.com/DataDog/integratio

[2019-11-21 02:00] sitingren commented on #340
@AlexandreYang Thank you for your suggestion! Yes, I also prefer option 2).

When you are making the change, please keep in mind the logger setup logic is also used by tests: https://github.com/vertica/vertica-python/blob/master/vertica_python/tests/common/base.py#L124

[2019-11-21 18:33] sitingren commented on #339
@oualib Minor suggestion: Rather than parsing the ODBCINI file manually with `split()`, you can easily get the content with the [configparser](https://docs.python.org/3/library/configparser.html) library.

[2019-11-23 11:51] AlexandreYang commented on #340
@sitingren Thanks for the suggestion. Here is the PR that address this issue: https://github.com/vertica/vertica-python/pull/341

Let me know if there is anything to improve.

[2019-11-27 16:02] #340 closed

[2019-11-30 00:02] oualib commented on #339
Cool, this library can help for code optimization! Thanks!

If you leave the user enter his own information, he will have to enter his credentials which can lead to unwanted results. No one wants to share a screen with the credentials already prepared. The DSN is in my opinion mandatory for any ODBC cursor.

[2019-11-30 00:05] oualib opened #342 "autocommit is not working"
In my Vertica ML Python library, I am creating flex tables to parse CSV files. Unfortunately, the connection with the vertica_python cursor is lost because it is not committing the queries. I tried the autocommit parameter but it didn't work (with pyodbc, it worked when I used autocommit=True).

[2019-12-01 02:58] sitingren commented on #342
Hi @oualib There's no API in vertica-python to set the autocommit parameter (like `autocommit=True`). You can set it by executing a query. Please see #232 for more discussions.

[2019-12-01 03:11] sitingren commented on #339
@oualib Yes, but please keep in mind vertica-python is NOT an ODBC driver. We leave the security of credentials input to the user.

[2019-12-01 12:43] oualib commented on #342
Hi @sitingren, I tried and it doesn't work with the vertica-python cursor... This will remain a mystery for me...

[2019-12-01 12:44] #339 closed

[2019-12-02 17:37] sitingren commented on #342
@oualib Could you please provide a reproducer and the DEBUG level log? Which version of vertica-python are you using?

[2019-12-02 23:53] oualib commented on #342
Download the titanic dataset and then run the following code:
[code]
You can also SET THE SESSION AUTOCOMMIT TO TRUE with the cursor. The connection will be lost and the command will run indefinitely (so I can not give more info). This problem is solved with pyodbc parameter 'autocommit = True'

I am using the last version of vertica_python.

[2019-12-03 00:42] sitingren commented on #342
https://www.vertica.com/docs/9.3.x/HTML/Content/Authoring/SQLReferenceManual/Statements/SET/SETSESSIONAUTOCOMMIT.htm?zoom_highlight=AUTOCOMMIT
To set the autocommit parameter, the value must be either __ON__ or __OFF__, not TRUE.

You can check the current session value by calling .parameters["auto_commit"] on the connection:
[code]

[2019-12-03 01:05] oualib commented on #342
Try to do it, it will not work. It was just a mistake from my side in the previous comment, I clearly wrote ON.

[2019-12-03 01:05] sitingren commented on #342
Another thing is vertica-python does not support COPY FROM __LOCAL__, you need to rewrite your program to use `Cursor.copy()`.
[code]

https://www.vertica.com/docs/9.3.x/HTML/Content/Authoring/AdministratorsGuide/BulkLoadCOPY/OverrideCOPYAutoCommit.htm?zoom_highlight=copy%20commit
By default, COPY automatically commits itself and other current transactions except when loading temporary tables. So

[2019-12-11 10:17] UsmanShabbir97 opened #345 "Copy query gives error while reading CSV file from inMemroy Object"
When I have upgraded version from 0.6.14 to 0.10.0. Copy command giving error while loading a CSV file from InMemory Object.

[2019-12-11 19:06] sitingren commented on #345
Thanks for reporting this issue. This is a regression. In 0.6.14, all objects with the 'read' attribute are acceptable by `Cursor.copy`. Now, only objects with their types in the whitelist is valid.

The 'django.core.files.uploadedfile.InMemoryUploadedFile' class is a wrapper around a Python file object with some Django-specific additions. You got that error because it is not in the whitelist.

I'

[2019-12-11 21:57] #176 closed

[2019-12-11 22:18] #345 closed

[2019-12-12 06:03] UsmanShabbir97 commented on #345
Thank you @sitingren for the update. can i get this fix in this release or this will be a part of next release?

[2019-12-12 13:26] sitingren commented on #345
This fix will be a part of next release.

[2019-12-14 00:28] #257 closed

[2019-12-16 17:18] bryanherger opened #348 "Trailing backslash breaks insert using cursor"
Hi, please see https://github.com/sqlalchemy/sqlalchemy/issues/5038

It looks like the client is sending strings ending in backslash and breaking CSV copy.  Full description over on the now-closed sqlalchemy issue.

[2019-12-16 18:57] sitingren commented on #348
@bradleyhurley Can you tell me the vertica-python version that is using?

According to your stack trace, I ran the following program with the latest version of vertica-python and Python 3.6.3, but I cannot reproduce the error:
[code]

[2019-12-16 18:59] bradleyhurley commented on #348
I think you meant to tag @bryanherger

[2019-12-16 19:03] sitingren commented on #348
@bradleyhurley My bad, sorry to disturb you.

[2019-12-20 18:01] sitingren commented on #345
@UsmanShabbir97 Now you can get the fix in version 0.10.1.

[2019-12-20 18:40] UsmanShabbir97 commented on #345
@sitingren Thanks for the update.

[2019-12-26 17:50] #330 closed

[2020-01-02 21:26] sitingren commented on #338
You can get rid of sql injection by using "server-side prepared statements".
Please re-open this issue if you have further questions.

[2020-01-02 21:26] #338 closed

[2020-01-02 21:28] sitingren commented on #348
@bryanherger Any updates from the user?

[2020-01-30 07:13] UsmanShabbir97 opened #357 "[Question] Export Table Data From One Vertica Database table to another Vertica database table"
I want to export data from one database table in vertica which is hosted on **Server1** to another database table which is hosted on **Server2**.
and i have created two connection to achieve this using Export command. but not moved data through this.
[code]

[2020-01-30 14:18] sitingren commented on #357
Please refer to the vertica [documentation](https://www.vertica.com/docs/9.3.x/HTML/Content/Authoring/AdministratorsGuide/CopyExportData/ExportingData.htm?zoom_highlight=export) to export your data. You should connect to the target database with `CONNECT TO VERTICA`.

[2020-01-30 14:29] alippai opened #358 "Column based wire format"
Is it possible to create Pandas or Arrow tables/dataframes directly?
Does Vertica have to serialize the result into rows and then the vertica-python client back to a column based representation instead of sending batches of columns in the response?

[2020-01-30 14:31] alippai commented on #358
Eg. there is an export to parquet feature, but I don't think it can stream the output file over vertica-python or vsql - or is this possible?

[2020-01-31 13:48] sitingren commented on #358
No. vertica-python does not provide those result types directly, you need a wrapper to convert the result format.

vertica-python is compliant with [Python DB-API](https://www.python.org/dev/peps/pep-0249/), so it is possible to use query wrappers provided by *pandas*, for example
[code]
Let me know if your question is answered.

[2020-02-09 17:38] alippai commented on #358
Python DB-API doesn't define columns and record batches, it iterates over rows.
On the other hand Pandas, Arrow, numpy and others keep values from one column close, they don't allocate per row, but they try to keep values from one column close and allocating in batches, keeping the col width aligned. This is what Vertica server does internally too, hence this question.
Based on your answer I assum

[2020-02-10 04:03] sitingren commented on #358
Vertica server is using columnar storage, but the client-server protocol does not serialize query results into columns.

@tomwall may have more insights into this question.

[2020-02-17 00:33] andrewasheridan commented on #338
Question on this topic: What about Identifiers?

Currently there is no way (afaik) to specify that a variable is a schema or table name, so Vertical wraps them in 'quotes'.

This means we have to use string formatting for these, or Jinja2 Template rendering, either of which could be less than safe.

Note this doesn’t seem to be an issue in vsql

[2020-02-18 14:58] sitingren commented on #338
@andrewasheridan Can you give me an example of using vsql with identifier arguments that prevent sql injection? AFAIK, "server-side prepared statements" doesn't handle sql identifiers. I'm not sure if vsql is just substitute variables (define with `\set`) into regular SQL statements, but in my experiment so far I can drop a table in a SELECT query.

[2020-02-20 17:05] tomwall commented on #358
Vertica's client protocol is row-oriented because most database API's, python dbapi included, are row oriented. Most database API's also expect to interact with a single node, which is not suitable to big data migration tasks which demand lots of parallelism across many machines.

Vertica's internal node-to-node communications that happen in service of a given query do have a columnar protocol, bu

[2020-02-20 17:05] #358 closed

[2020-02-21 03:07] sitingren commented on #280
According to conversations at
https://github.com/LocusEnergy/sqlalchemy-vertica-python/pull/37#issuecomment-589158302,
https://github.com/bluelabsio/sqlalchemy-vertica-python is the new fork and continues to publish to https://pypi.org/project/sqlalchemy-vertica-python/.

@lemeryfertitta @vinceatbluelabs We really appreciate your great efforts to make this project continue!

[2020-02-21 03:07] #280 closed

[2020-03-16 16:55] Shihao-Zhong opened #362 "[Question] how to use the sql argument on schema name"
Hi guys,

I am trying to use same sql with dynamic schema's and I have the following sql

SELECT * FROM :schema_name.:table_name ORDER BY RANDOM()

When I am trying to execute this sql using the following command

cur.execute(sql, {schema_name: 'abc', table_name:'def'})

And I got the following error that

Error Code: b'4856', SQL: "SELECT * FROM 'abc'.'def'ORDER BY RANDOM();"

I believe the error

[2020-03-17 01:40] sitingren commented on #362
`cursor.execute(sql, parameters)` is used for binding __SQL literals__ only. But you are trying to bind SQL [Identifiers](https://www.vertica.com/docs/9.3.x/HTML/Content/Authoring/SQLReferenceManual/LanguageElements/Identifiers.htm?tocpath=SQL%20Reference%20Manual%7CSQL%20Language%20Elements%7C_____2). Supporting dynamic SQL is one of TODOs in vertica-python's roadmap. So currently the solution is

[2020-03-17 09:16] #362 closed

[2020-03-27 07:28] singhpratibha58 opened #364 "[Flask integration] Vertica-python integration with flask is not working for update table"
User is able to create table, insert , delete record but update query is not working and also it is not showing any error message.Here is the script:
import os
from flask import Flask
from flask import render_template
from flask import request
from flask import redirect
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config.update(
    SECRET_KEY='',
    SQLALCHEMY_DATABASE_URI=

[2020-03-27 07:32] singhpratibha58 opened #365 "[Flask integration] Vertica-python integration with flask is allowing to insert duplicate value for primary key/unique column"
Vertica-python integration with flask framework is allowing to insert duplicate value for primary key column.However on browser it was not showing duplicates but in database records are inserted.
import os
from flask import Flask
from flask import render_template
from flask import request
from flask import redirect
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config.update(

[2020-03-30 09:51] sitingren commented on #364
Please provide the version info for those packages you installed. Thanks.

[2020-03-30 09:52] sitingren commented on #365
Please provide the version info for those packages you installed. Thanks.

[2020-03-31 08:26] singhpratibha58 commented on #365
I have used 0.10.2 driver version.

[2020-03-31 08:26] singhpratibha58 commented on #364
I have used 0.10.2 driver version.

[2020-03-31 10:17] sitingren commented on #365
@singhpratibha58 I mean what packages have you installed? Such as Flask, and SQLAlchemy. I guess you also used a SQLAlchemy Vertica dialect, where does it come from?

[2020-04-01 07:37] singhpratibha58 commented on #365
I have these versions
Package                   Version
------------------------- -------
Flask                     1.1.1
Flask-Migrate             2.5.2
Flask-SQLAlchemy          2.4.1
Flask-WTF                 0.14.3
SQLAlchemy                1.3.13
sqlalchemy-vertica        0.0.5
sqlalchemy-vertica-python 0.4.4
vertica-python            0.10.2
I used pip command to setup this.

[2020-04-14 17:09] adrean opened #368 "Parametized queries & tuple issue"
Hello!

We ran into some issues with the last release of the package.
I've seen that there were some changes for parametized queries that break some of our work.
It seems that we now can't execute queries with tuple parameters.

For instance, this dumb example
[code]
was running successfully until `0.10.2`, but not working with `0.10.3`. We get the following issue: `TypeError: Cannot convert <clas

[2020-04-15 08:18] sitingren commented on #368
Hi @adrean, thank you for your feedback. This is an expected behavior of `0.10.3` as it would prevent SQL injection attacks. `tuple` is a type that we haven't provided a default adapter.

You can register a new adapter for `tuple` type via the `Cursor.register_sql_literal_adapter()` function. For your example above, if ALL elements in a tuple are integers:
[code]
However, if any element in a tuple

[2020-04-15 08:53] adrean commented on #368
Hi @sitingren , thanks for the quick reply, we'll use your workaround, or stick with the previous version, not sure yet.
Looking forward having this enhancement done 👍

[2020-04-21 22:07] Jonnokc opened #369 "Vertica Hint Support?"
Has Anyone managed to figure out how to use hints within queries?

tried today and all I get is syntax issues caused by `/*+DIRECT*/`. Query runs perfectly with the hint removed.

[2020-04-22 04:15] sitingren commented on #369
@Jonnokc Hope the documentation is helpful:
https://www.vertica.com/docs/9.3.x/HTML/Content/Authoring/SQLReferenceManual/LanguageElements/Hints/direct.htm

[2020-05-01 22:01] alippai commented on #358
@tomwall @sitingren turbodbc is up to ~5x faster for medium/large resultsets. It directly creates pyarrow tables. I think this is their selling point. If you could make something similar on wire protocol level it'd be superior definitely. Turbodbc still uses odbc protocol which you don't really need for Vertica server -> PyArrow export, yours would be simpler and faster.

[2020-05-01 22:16] alippai commented on #358
@wesm does any of the databases support Arrow/Parquet "over-the-wire" now? Would it make sense?

[2020-05-01 22:36] wesm commented on #358
I think both BigQuery and Snowflake support Arrow over-the-wire now, and I heard rumbling that Apache Kudu was working on this, too.

[2020-05-06 13:47] EdgeSync opened #371 "Dict Result, instead of nested lists?"
Hi team,

Just curious if it is possible to return a Dict object, instead of the nested lists when using vertica-python.

For example in MySQLdb package, we can define the cursor class as  a DictCursor - which returns all data in Dict object.
Similarly, in Elasticsearch, all data is return as a dict by default.

Many thanks,

Chris

[2020-05-07 03:00] alexjikim commented on #371
from the readme:
`cur = connection.cursor('dict')
cur.execute("SELECT * FROM a_table LIMIT 2")
cur.fetchall()
# [ {'id': 1, 'value': 'something'}, {'id': 2, 'value': 'something_else'} ]
connection.close()`

[2020-05-07 07:53] #368 closed

[2020-05-17 14:33] sitingren commented on #371
Closed. Reopen this issue if you have further questions, thanks!

[2020-05-17 14:33] #371 closed

[2020-05-20 10:47] EdgeSync commented on #371
This is embarrassing, I read through the documentation here:
https://www.vertica.com/docs/9.1.x/HTML/python_client/index.html

But seems this is incomplete compared to the README. Now that @alexjikim pointed it out, it's very obvious. Apologies for wasting time.

[2020-05-21 10:53] sitingren commented on #368
@adrean Version 0.10.4 includes this enhancement.

[2020-05-22 13:58] roveo opened #377 "COPY failing in 0.10.4"
Query:

[code]

I know that BEGIN and COMMIT make no sense here, but it worked in 0.10.3

Error from Airflow logs:

[code]

Version: `Vertica Analytic Database v9.3.0-0`

[2020-05-22 15:54] sitingren commented on #377
@roveo Thanks for your report. We are making changes for COPY/COPY LOCAL protocols in v0.10.4 and the next future release. I am sorry for any inconveniences caused by this change.

Looks like you passed a multi-statement query to `Cursor.copy()` and COPY was not the first statement in the query. Could you please try splitting your query and make COPY as the first statement in the query to `Cursor.

[2020-05-23 11:05] maiorBoltach opened #378 "Parallel COPY support and unclosed stream support"
Good afternoon.
1. Is it possible to execute multiple COPY in parallel using vertical-python in one transaction? (maybe in different threads?)
2. Is there a counterpart to [VerticaCopyStream ](https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/ConnectingToVertica/ClientJDBC/UsingVerticaCopyStream.htm) in vertica-python? (maybe somehow through io.StringIO?) I mean the ability to execute copy

[2020-05-26 18:17] dm-logv opened #379 "Get the last result set only/number of sets in cursor?"
Well, let's talk about multiple statements (again).

[code]

It's very easy to get `Hey Joe` only:

[code]

it's not very difficult to get all sets:

[code]

(off-topic: what happened with the `rowcount`?)

But how to skip `n` first result set without fetching 'em all?
Or there is a method to get a number of result sets? (Of course `query.count(';')` looks like a crutch.)

[2020-05-28 09:49] sitingren commented on #379
`nextset()` would skip the previous set of result, so you don't need to explicitly call `fetchall()`, you can call `nextset()` `n` times to skip them directly.

off-topic: Yes, `rowcount` is counting incorrectly. Thank you for reporting that.

[2020-05-28 11:39] sitingren commented on #378
I'm not sure about the answer. There aren't any multithreading test. You can have a try.

No. Currently, `cursor.copy()` would stop loading data when `data_stream.read()` returns an empty string (when EOF is encountered) rather than data stream is closed.
https://github.com/vertica/vertica-python/blob/dfe7f531f08459f255ddf3154c01227ee1dfce6d/vertica_python/vertica/cursor.py#L408-L418

[2020-05-28 22:04] tomwall commented on #378
Re: question 1 -- a vertica session only ever runs one command at at time. There are never parallel queries or copy statements going on in the same session/transaction. This is a pretty fundamental invariant that has broad design implications across the product.

That's not to say there's no parallelism. Vertica will process things in parallel, both within a node and across nodes, whenever possibl

[2020-06-01 11:07] dm-logv commented on #379
Of course, but this is the main question: how to get `n` if I don't know how many statements in my query?

E. g. I have to write a library function:

[code]

How to implement it?

[2020-06-01 13:49] sitingren commented on #379
`nextset()` reads/skips query result from the wire one by one. So vertica-python doesn't have the ability to know `n` without using `nextset()`.
[code]

[2020-06-01 15:20] dm-logv commented on #379
It's an explicit solution, but in opposition with your previous offer:

Is it impossible in the current version of the `vertica-python` or the Vertica protocol don't provide this information?

[2020-06-09 13:53] dcordero opened #380 "Get the rowcount of COPY"
I am trying to get the number of rows imported by a COPY statement. To do so, I am following a similar approach [to the documentation describing how to get the rowcount after a SELECT or DELETE statement](https://github.com/vertica/vertica-python#rowcount-oddities)

[code]

As a result of this code I am getting the following result
[code]

is there a way to get the number of imported rows by a COP

[2020-06-09 14:53] sitingren commented on #380
@dcordero Unfortunately, `cursor.copy()` is not able to return the number of rows loaded. The good new is that we are on the way to implement COPY LOCAL protocol, so that you can run a COPY LOCAL query in `cursor.execute()` and fetch the rows loaded.

[2020-06-10 06:08] Akhilj786 commented on #180
@AndrewJudson Yes they do support `_` in schema name.

[2020-06-10 06:24] Akhilj786 opened #381 "Schema naming starting with numeric is not supported"
I am aware vertica does not encourges us to use schema names starting with number. But our usecase needed to follow numeric standard in order to support our analytics and machine learning pipeline.

e.g If we have two schema lets say `abcd_dm` and `0223_dm`, `abcd_dm`  all insert just work fine, but for `0223_dm` insert throw following issue:

[code]

Version Info:
Vertica : Vertica Analytic Datab

[2020-06-12 02:47] #381 closed

[2020-06-29 21:19] PABNY opened #383 "Vertica python failing when file has null value"
Hi Team

My file is having just below 2 columns
"","test"

DDL is below

create table test_null
  ( num NUMERIC(10,5) ,
    var VARCHAR(50)
  )

Code is below

newlist=["num","var"]
delcmd="DELETE FROM test_null"
copycmd="""Copy test_null ({}) FROM stdin DELIMITER ',' NULL '' ENCLOSED BY '\"' ESCAPE AS '\\' ABORT ON ERROR""".format(','.join(newlist))
with open(final_file_name, "rb") as f:

[2020-06-30 03:33] sitingren commented on #383
You don't need to enclosed every column value with `"`. `ENCLOSED BY` is used for allowing **delimiter characters** to be embedded in string values. So for your example data, you can express as `,test` or `,"test"`.

[2020-07-08 12:41] AresEkb opened #384 "Support for pyformat"
Hi

It seems that `vertica-python` doesn't support pyformat for parameter formatting. I added the following hack into vertica_python/vertica/cursor.py:
[code]
Here is the commit into my fork: https://github.com/AresEkb/vertica-python/commit/1c288df806fb1a7ed3985ac8b810d57eef9f9aa1

I'm not sure it's a right approach. Could you please fix it the right way in your repository?

[2020-07-08 12:50] AresEkb opened #385 "TypeError: Cannot convert <class 'sqlalchemy.sql.elements.ColumnClause'> type object to an SQL string"
Hi

I use `vertica-python` with SQLAlchemy. I wrap some of the query parameters using `sqlalchemy.sql.column` or `sqlalchemy.text` and get the TypeError.

It seems that it's not easy to call `Cursor.register_sql_literal_adapter()` to register these SQLAlchemy types. So I removed the exception raising for unknown types. Here is a commit into my fork: https://github.com/AresEkb/vertica-python/commit

[2020-07-08 14:34] sitingren commented on #384
Duplicate of #385

[2020-07-08 14:34] #384 closed

[2020-07-08 14:45] sitingren commented on #385
Hi @AresEkb

These types are not general type for our users, supporting them in `vertica-python` will add dependency for sqlalchemy, which doesn't make sense. So we cannot fix it in this repository.

I know there are no way to access to `Cursor.register_sql_literal_adapter()` from SQLAlechemy core API, but from SQLAlechemy connection you can try methods like this:
[code]

[2020-07-08 16:44] AresEkb commented on #384
It's not a duplicate, it's an absolutely different issue.

It seems that `vertica-python` supports only named params of the following form `:param1`. And it doesn't support params of the form `%(param)s`. Please see https://www.python.org/dev/peps/pep-0249/#paramstyle

[2020-07-08 17:08] AresEkb commented on #385
I don't mean that the direct support for these types should be added to `vertica-python`. I mean that you could just remove exception raising for unknown types. Maybe it can be controlled by a configuration property to raise or not to raise the exception.

SQLAlchemy implements the `@compiles` decorator. Please see https://docs.sqlalchemy.org/en/13/core/compiler.html

For example I can define the

[2020-07-09 05:59] sitingren commented on #385
As mentioned in README, parameters are not used for merging table or field names:

#362 is a similar question. And here is the documentation for [SQL Identifier](https://www.vertica.com/docs/10.0.x/HTML/Content/Authoring/SQLReferenceManual/LanguageElements/Identifiers.htm?tocpath=SQL%20Reference%20Manual%7CSQL%20Language%20Elements%7C_____2) and [SQL literals](https://www.vertica.com/docs/10.0.x/H

[2020-07-09 06:01] sitingren commented on #383
Closed. Reopen this issue if you have further questions. Thanks.

[2020-07-09 06:01] #383 closed

[2020-07-09 09:31] #385 closed

[2020-07-09 09:48] sitingren commented on #384
PEP 249 lists possible paramstyle values, that doesn't mean a client has to implement all those options. AFAIK, we don't have plan to support more paramstyles, as it would add maintenance burdens (eg. testing, compatibility) in the future. And I think a direct way to get rid of this problem is replacing parameter markers `%(param)s` in the query string with desired `:param` markers.

[2020-07-14 14:43] #43 closed

[2020-07-15 10:42] hhromic opened #387 "Inconsistent manual and "with-statement" connection close behaviour"
In the README of the repository, it is implied that closing connections manually or using a `with` statement is equivalent:

[code]

However, the close behaviour between the two approaches is not equivalent.

When manually calling the `close()` method of the connection, this is executed:
https://github.com/vertica/vertica-python/blob/d98179f6c9268ff8131a77b75460b56319cd80ed/vertica_python/vertica/

[2020-07-17 13:54] sitingren commented on #379
@dm-logv What API change for vertica-python do you expect to have?

[2020-07-17 14:44] Mityuha opened #389 "Do NOT use logger .disabled attribute until python 3.8"
### Describe the issue
There is a method called _isEnabledFor()_ inside python logging package's Logger class. Since python 3.8 this method takes into account self.disabled attrubute:
https://github.com/python/cpython/blob/3.8/Lib/logging/__init__.py#L1681
But before python 3.8 (e.g. 3.6) it does not:
https://github.com/python/cpython/blob/3.6/Lib/logging/__init__.py#L1681
What all written above d

[2020-07-21 04:11] darwinyip opened #390 "When is the expected end of support for python 2.7?"
Just throwing this out. Any considerations on when to drop support for python 2.7?

[2020-07-23 12:37] dm-logv commented on #379
@sitingren I expect:

- A number of received result sets in the current cursor
- And/or a flag for the last result set in the cursor.

Simply put, I want to know how many times I have to call `nextset()` and then `fetchall()` (just one time) to receive `[['Voodoo Chile']]` row from my example **without** a fetching all previous result sets.

[2020-07-23 14:00] tomwall commented on #390
Python 2.7 support will probably remain for a while, but you shouldn't use that as an excuse to avoid upgrading :)

Pypi download stats (https://pypistats.org/packages/vertica-python) show it is still heavily used, and for now at least, there isn't much of a cost to keeping it going. 2.7 usage does seem to be declining slowly, and we'll probably see that accelerate as more of Vertica's user base u

[2020-07-23 19:59] #378 closed

[2020-07-23 20:00] #369 closed

[2020-07-23 20:19] tomwall commented on #380
COPY LOCAL (including COPY LOCAL STDIN) is available on master now should include the row count, but COPY STDIN doesn't and that's a server-side limitation the client can't really do much about.

There is also a get_num_accepted_rows() function (https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/SQLReferenceManual/Functions/VerticaFunctions/GET_NUM_ACCEPTED_ROWS.htm) that might do what you

[2020-07-23 20:19] #380 closed

[2020-07-23 20:20] tomwall commented on #357
Closing due to inactivity

[2020-07-23 20:20] #357 closed

[2020-07-23 20:21] tomwall commented on #342
Closing due to inactivity.

[2020-07-23 20:21] #342 closed

[2020-07-29 02:40] sitingren commented on #389
@Mityuha Thanks for your report. I did some performance tests as you suggested on Py2.7, Py3.5, Py3.6, Py3.7, Py3.8. What I see is the performance improvement comes from [the usage of cache](https://github.com/python/cpython/blob/3.7/Lib/logging/__init__.py#L1618-L1631) since **Py3.7**. Not [checking self.disabled attrubute](https://github.com/python/cpython/blob/3.8/Lib/logging/__init__.py#L1681-

[2020-07-29 10:36] bambrozio opened #391 "COPY... FROM LOCAL does not work."
The command `COPY... FROM LOCAL` works perfectly with `vsql`:
[code]

However, it doesn't via `vertica-python`. I've tried with latest realease (`pip install vertica-python --upgrade` and also with latest commit from git (see below)):
[code]

If I try without the `buffer_size` I get different error:
[code]

[2020-07-29 10:49] sitingren commented on #391
I think you may try to uninstall vertica-python and install from the latest commit from git again.

[2020-07-29 12:17] sitingren commented on #377
This issue should be fixed in v0.11.0. Please upgrade the package and try again.

[2020-07-29 12:17] #377 closed

[2020-07-29 12:30] sitingren commented on #348
Reopen if the issue happens again.

[2020-07-29 12:30] #348 closed

[2020-07-29 20:23] Mityuha commented on #389
@sitingren Thank you for your answer. It seems you are right about performance improvements since py3.7, but not since py3.8. Can you clarify some things?
1. You say that "Passing log_level=logging.WARNING (best with log_path=None) to Connection options will reduce the cumulative time for about 10%". But my performance tests show >50% time reducing with 4164513 ncalls to logging. Can you attach so

[2020-08-06 05:07] sitingren commented on #391
Reopen if you have further questions, thanks.

[2020-08-06 05:07] #391 closed

[2020-08-06 10:27] sitingren commented on #379
That's not a reasonable change _vertica-python_ can make so far. If you set log level to DEBUG, you will have a better understanding of the mechanism from the log. The simplified mechanism is:

When you execute a sql, the server will send a sequence of messages like
[code]
As you can see, the Vertica protocol doesn't provide information about how many result sets are there in an execution.

At a l

[2020-08-06 14:02] dm-logv commented on #379
@sitingren Thank you for the great explanation

[2020-08-06 20:00] jakane opened #393 "Examples not working .. need help with INSERT INTO"
If this is not the correct place, please redirect me ...

Extracting from an example in `README.md`, I have the following

[code]
I get the following output:

[code]

[2020-08-07 04:11] #379 closed

[2020-08-07 05:02] sitingren commented on #393
I think the problem is you are using the wrong placeholder `?` in the sql. Parameter placeholder `?` is used when 'use_prepared_statements' option is True, otherwise you should use placeholder `%s` when 'use_prepared_statements' is False (by default). Please read up to README.md.

[2020-08-07 14:44] jakane commented on #393
Thanks for the reply.

I did pull that example from `README.md`, but did not notice (nor was it called out) that apparently `cursor().executemany()` **must** be done with `use_prepared_statements == True`.

There are no comments about `cursor().executemany()`, it appears in only 3 files in the codebase and only once in `README.md`. Reading the code for `def executemany()` in `cursor.py` kind of *i

[2020-08-09 18:47] 2ps opened #394 "CommandComplete not handled gracefully"
After upgrading from 0.10.3, `copy` stopped working because it did not handle `CommandComplete`.  Instead we received the following exception:

[code]

[2020-08-10 02:47] sitingren commented on #394
@2ps The latest version is 0.11.0. If you see this issue in the latest version, please provide a reproducer program. Thank you!

[2020-08-10 15:47] sitingren commented on #393
The usage of `cursor.executemany(sql, param_value_sets[,use_prepared_statements])` can be described as
(1) When use_prepared_statements is True, sql is a single statement with parameter placeholder `?`, the query pattern is not limited to INSERT INTO.
(2) When use_prepared_statements is False, sql uses placeholder `%s` or `:pname`, and the query must be a INSERT INTO command. Internally, the query

[2020-08-24 14:35] sitingren commented on #387
@hhromic Thanks for your report. Since [DB-API](https://www.python.org/dev/peps/pep-0249/) doesn't define with-statement closing behavior, different database python clients implement this part differently. After discussion, we will do the following changes for _vertica-python_ to make closing behavior consistent:

- with-statement close will only call the close() method of the connection, and do n

[2020-09-01 11:43] #390 closed

[2020-09-03 03:17] #387 closed

[2020-09-03 09:58] hhromic commented on #387
Hi @sitingren , sorry for the late reply.
I think your proposal is pretty good! Thanks for taking care of this!

[2020-09-09 12:27] alippai opened #397 "Using socket.recv() with small values is expensive"
Using the file-like object with `read(1)` is better if you set up buffering eg. using `socket.makefile(mode='rb', buffering=1024*1024)`. Avoiding frequent system calls caused by recv() the data row fetching can double the throughput (on large datasets).

[2020-09-09 18:08] alippai opened #398 "Numbers as dynamic length strings in wire protocol"
Is this the only option or is there a way to force a binary float32 / float64 / int64 type?

[2020-09-10 09:58] sitingren commented on #398
@alippai I don't quite understand your question. Would you provide some examples?

[2020-09-10 10:12] alippai commented on #398
Sure.
The floats are coming as string over the wire:
https://github.com/vertica/vertica-python/blob/master/vertica_python/vertica/column.py#L143

Is there a way to change the protocol, so fixed width data rows would be possible?

[2020-09-10 10:39] sitingren commented on #398
The wire protocol is used for the delivery of what is stored in database to the client, it does not modify the data. So a float data comes as a string representation of its value and some metadata (e.g. datatype).

So I think you have to modify your program to process the fetched data to fixed width, or change your data to be stored as fixed width type like `CHAR(n)`, or make a customization of ve

[2020-09-10 11:26] alippai commented on #398
I'm pretty confident it's stored as float64 and int64 server-side and serialization into string (instead of bytes) happens.

https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/SQLReferenceManual/DataTypes/SQLDataTypes.htm
Floats supposed to be represented as "Signed 64-bit IEEE floating point number, requiring 8 bytes of storage", this is how it should be sent - as a 8 byte value. Why conve

[2020-09-11 17:50] tomwall commented on #398
The protocol support two operating modes -- string & binary -- but currently vertica-python only implements the string protocol. While postgres lets you change it on a per-column/type basis in the protocol, Vertica currently does not honor that and instead does it as a session-level setting. So unfortunately that means its an all-or-nothing implementation - all types must be implemented, both for

[2020-09-11 18:48] alippai commented on #398
Thanks, this is a perfect answer!

[2020-09-11 18:48] #398 closed

[2020-09-11 23:19] alippai commented on #398
A quick experiment:
- started with 3 million rows, one float column, 36+ seconds to read it into a numpy array
- adding a `self.socket_as_file = socket.makefile('rb', 10*1024*1024)` and modifying `Connection.read_bytes(n)` to use it instantly adds 30-50% boost, it's down to 21-23seconds
- setting the `binary_data_protocol: '1'` saves 20% network bandwidth (51MB instead of 70MB on my sample), readi

[2020-09-14 05:32] sitingren commented on #397
@alippai Thanks for your suggestions! Please feel free to make a pull request for this improvement.

[2020-09-14 06:27] sitingren commented on #394
Reopen this issue if you have further questions, thanks.

[2020-09-14 06:27] #394 closed

[2020-10-12 20:26] roveo commented on #255
You can do this

[code]

It will raise an exception for each error associated with a result set (tested only with user-generated error).

[2020-10-14 15:31] mfumagalli68 opened #399 "vertica strip backslash when inserting utf-8 encoded string"
Hi.

I don't know if this is a bug or not.

I'm trying to insert data in Vertica from python.
I decided to force the encoding in python using `x.encode('utf-8')` berfore inserting.
Using this a string is encoded in utf, for example:

[code]
I'm using this script to do a bulk insert ( just a sample), suppose that `data `is a pandas dataframe that contains the string i want to insert and `cur `is ve

[2020-10-15 07:53] mfumagalli68 commented on #399
My Bad, I didn't read the whole documentation for COPY command. I solved with NO ESCAPE clause.
Thanks

[2020-10-15 07:53] #399 closed

[2021-01-20 13:52] odidev opened #408 "Missing dependency binaries for ARM64 architecture"
**Problem description:**
I am trying to use vertica-python on ARM64 but aarch64 binaries similar to https://vertica-community-edition-for-testing.s3.amazonaws.com/XCz9cp7m/vertica-10.0.1-0.x86_64.RHEL6.rpm is missing. So, I am not able to build the docker image for the arm64 architecture.

**Expected behavior:**
All the required binaries should be available for aarch64 architecture.

Please let me

[2021-01-20 15:25] sitingren commented on #408
Hi @odidev, Do you want to run vertica-python **client** or the Vertica **server** on ARM64? They can run on different machines.

As mentioned in [Vertica server documentation](https://www.vertica.com/docs/10.0.x/HTML/Content/Authoring/SupportedPlatforms/MCandServer.htm?tocpath=Vertica%2010.0.x%20Supported%20Platforms%7C_____1), the Vertica server only supports x86_x64 architecture. So you **canno

[2021-01-27 10:17] odidev commented on #408
@sitingren thanks for your reply. I was thinking to setup vertica client and server on aarch64 machine. Now, with your explanation, I am aware that vertica server doesn't support aarch64. Could you please let me know if you have any plans for adding aarch64 support for vertica server?

[2021-02-18 19:50] ericwoodall commented on #205
I think I am having exactly this issue but I cannot tell.  I have a long running query and after ~5 minutes, it stops with a failure:
Unhandled error while executing model.embold_prototype.ssm_ccm_member_months
[Errno 32] Broken pipe
Using vertica-python in --> dbt-vertica package.

[2021-02-19 15:52] sitingren commented on #205
@ericwoodall It's hard to tell the problem from your description, here are some of directions for debug:

The latest vertica-python already set TCP keepalive as default: [Source code](https://github.com/vertica/vertica-python/blob/74d426fae75b0fe221e65a1ed20eff6889970ce9/vertica_python/vertica/connection.py#L451), except you cannot config keepalive ping parameters (TCP_KEEPIDLE, TCP_KEEPINTVL, TCP

[2021-02-19 16:45] ericwoodall commented on #205
@sitingren thanks for the reply!  I feel confident that it is not the query because I can execute the same query in DBViz and it returns data.  I am going to install the latest version of both vertica-python and dbt-vertica and see if this fixes it.  Will report back.  Thanks again!

[2021-02-19 17:31] ericwoodall commented on #205
@sitingren I installed the latest version of vertica-python (1.0.1) and I am still getting the same broken pipe error.  Also, I verified that it is not the query, as I did a table insert [using the same query] and it succeeded.

[2021-02-20 03:54] sitingren commented on #205
@ericwoodall Is DBViz also using vertica-python? Have you toggled `connection_timeout` setting in dbt-vertica? Since there is no traceback message or log to look at, I think running the query on _vertica-python_ directly might narrow down the problem to be whether on _dbt-vertica_ or _vertica-python_ side.

[2021-02-20 14:36] ericwoodall commented on #205
@sitingren , no DBViz is not using vertica-python but the query returns fine so it is not a server misconfiguration.  I am in the process of creating a test python script that uses vertica-python directly.  Will report back.

[2021-02-25 03:45] sitingren commented on #408
@odidev AFAIK, there is no plan to add aarch64 support for vertica server in the near future. Since this channel aims to talk about client issues, please talk to your support contact with server issues. Thanks!

[2021-02-25 03:45] #408 closed

[2021-03-26 14:04] mattberns opened #410 "need Keep-Alive...queries killed at 60 minutes?"
We are using `vertica-python` via `dbt-vertica` and we're finding that our log running queries are getting killed at 3600 seconds. We are told that we need to implement `Keep-Alive` since there are no packets being transacted for > 60 minutes. TCP connections that are idle are being killed at 60 minutes.

Is this a setting we can enable here? it appears that the way this is being done in some tool

[2021-03-29 01:08] sitingren commented on #410
Hi @mattberns
There are related discussion at #205.

Basically, vertica-python provides `connection_timeout` as a connection parameter to control socket operations timeout (see README), queries can be affected by this. Please note that dbt-vertica is a third-party library that we don't support. If you want to set `connection_timeout`, you may need to change your libraries source code. The 3600 sec

[2021-03-29 02:06] mattberns commented on #410
@sitingren Thanks for this. Going to close this one. It turns out there is a `timeout` parameter over at `dbt-vertica` and this was set to `connection-timeout` in our repo which was misleading us ( because this setting passes through to `connection-timeout` This does seem to differ from the broken pipe issue which a colleague was experiencing less than the setting value, which we believe is due to

[2021-03-29 02:06] #410 closed

[2021-04-26 07:12] Saadmairaj opened #411 "Copy method not loading CSV data into temporary table in Vertica DB."
Hi,

I've been trying to load CSV data into Vertica but it is giving me a hard time for a while now. I've tried multiple methods that are as follow:

1.  Tried the told method:
[code]

2. Then I tried doing it with `pandas.read_csv()` after going through the solution in this #43 issue.
[code]

**None of the above methods is working for me, nothing is getting loaded into the DB. Also, no error occu

[2021-04-27 04:10] Saadmairaj commented on #411
**The above two methods do work indeed, the problem was not copying part.** **The issue was copying data into a temporary table of Vertica DB.** After reading the documentation for the same more in-depth, I figured out the problem and the solution.

So basically, I was trying to load CSV data into a temporary table which was not working because, in **Vertica, a temporary table doesn't retain data

[2021-04-27 04:10] #411 closed

[2021-05-23 22:13] mattberns opened #413 "Disconnected at 7200 seconds"
We are currently using vertica-python to connect from a windows machine to vertica (hosted on linux). We are consistently getting our long running queries disconnected at 7200 seconds. We see:

https://github.com/vertica/vertica-python/blob/74d426fae75b0fe221e65a1ed20eff6889970ce9/vertica_python/vertica/connection.py#L451

It looks like the keepalive is set...what could be causing this? 7200 I kno

[2021-05-24 08:46] sitingren commented on #413
vertica-python provides `connection_timeout` as a connection parameter to control socket operations timeout (see README), queries can be affected by this. Please check if you have set `connection_timeout` first.

[2021-07-30 08:09] vhermecz opened #415 "cursor.executemany rejects INSERT statements with leading whitespaces"
The regex for matching insert statements assumes the query starts with `INSERT`. This can be a problem with multiline strings.

Example:

[code]

This guy gets rejecte due to the whitespace in front of the `INSERT` keyword.

Possible solutions:
- Extend RE with \s*
- Call strip() on the executemany argument

[2021-07-30 15:12] #415 closed

[2021-08-25 05:32] nicolaerosia commented on #146
can someone share their tests? I want to reproduce

[2021-10-09 11:38] oualib opened #419 "NameError: name 'message' is not defined"
I am trying to load a file:
[code]
After checking with vsql, the error message is clear. There is a 'quote' problem in the file.
This is the python message:
[code]
My guess is to define the variable 'message' in the file cursor.py (line 753).
My vertica_python version is 1.0.1.

[2021-10-09 12:46] sitingren commented on #419
@oualib Thank you for reporting this issue. Would you please provide the file content to reproduce this issue? The vsql error message would also be helpful.

[2021-10-31 14:27] pparsineja-chwy opened #422 "Multiple statement DDL, and DQL returns empty results."
Hi,

This is more a question and if there is an answer somewhere I would be happy to directed there.

I have a query that starts with creating a temp table followed by 3 select statements. In DB Visualizer, I could get the results back. When Im leveraging `vertica-python` I get empty results:

[code]

and here is my query:
[code]

I appreciate your comment/advise regarding this matter.

Thanks,

[2021-11-01 05:16] h-serizawa commented on #422
@pparsineja-chwy

You missed calling nextset(). Please try the following codes.

[code]

[2021-11-01 13:06] pparsineja-chwy commented on #422
This is brilliant @h-serizawa. Thanks for your suggestion and I confirm this works.

Thanks much

[2021-11-01 16:49] #422 closed

[2021-11-05 10:18] moledoc opened #424 "Trying to insert a varchar value of length more than the actual defined length of the column does not throws an error"
We are using vertica-python to connect from linux to vertica (on linux).
When we try to insert a varchar value of length more than the actual defined length of the column then cursor.execute does not return an error (also nothing is inserted into the target  table) and the program just continues to run.
This makes debugging really difficult.

For example, we have table

[code]

When trying to inse

[2021-11-05 13:03] sitingren commented on #424
Usually, you have to run `cursor.fetchall()` after `cursor.execute()`, so that all possible error for this statement can be thrown.

[2021-11-05 15:02] moledoc commented on #424
I am running `cursor.fetchall()` after `cursor.execute()`, but no error is thrown.

[2021-11-05 17:00] elfring opened #425 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-07 15:28] sitingren commented on #424
@moledoc would you please provide your code so that we can reproduce it? Thanks.

[2021-11-08 04:30] h-serizawa commented on #424
@moledoc I saw the exception occurred using with for auto connection closing as below.

[code]

[code]

[2021-11-08 07:48] moledoc commented on #424
@h-serizawa I got the same error with

[code]

 and this is the expected result, as I mentioned above. I need to get the same error when trying to insert from a temporary table.

@sitingren here is an analogous (but somewhat redacted) example of my code. Let's assume the target table is the same as mentioned above.

[code]

[2021-11-08 08:03] h-serizawa commented on #424
@moledoc You missed calling `cursor.nextset()` to execute the rest of the queries you specified in one string variable. Without calling `cursor.nextset()`, your code executes only the first query. You can see the exception with the following code.

[code]

[2021-11-08 08:24] sitingren commented on #425
@elfring What "source code analysis tools" are you referring to?

[2021-11-08 08:25] moledoc commented on #424
@h-serizawa this solved my issue. Thank you very much!

[2021-11-08 08:25] #424 closed

[2021-11-08 09:11] elfring commented on #425
:thought_balloon: I suggest to [take another look at known analysis tools](https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis#Python "Tools for static code analysis").
I found the shown update candidates with the help of a tiny Perl command (which I constructed for this transformation pattern).

[2021-11-11 08:38] edoven opened #426 "A query with multiple statements should return the results of the last statement not the first one"
Hey, I hope this has not been discussed before. :)
Often multiple statements are used to build temp tables, that are then read in the final statement (sorry I don't have any data  to support this, just personal experience).
Other tools (e.g. DBVisualizer) returns the results of the last statement.
Vertica-python returns the first statement.
[code]
This is a little bit counterintuitive and makes us

[2021-11-11 14:55] #425 closed

[2021-11-11 15:11] sitingren commented on #426
Hello @edoven

First of all, DBVisualizer is not only returns the results of the last statement. It actually fetches the result set of each statement and displays them as different tabs, but the last statement's results is the selected tab.

So interpreting DBVisualizer's process into vertica-python function calls, it is `Cursor.execute(...multi-statements...)`->`Cursor.fetchall()` and **save** th

[2021-11-12 00:30] edoven commented on #426
@sitingren, that makes sense. Thanks for the help!

[2021-11-12 05:35] #426 closed

[2021-11-18 01:06] haishao commented on #43
i encountered the same problem as @arumugaguru.  it seems that
```csv_buf.seek(0)```
needs to be added before calling
```cur.copy(query, csv_buf)```

[2022-01-04 11:54] hannahshachar commented on #197
I have the opposite problem, I have a statement that drops the table if it exists and then creates the table again with a long query.  As soon as it Drops the table, it moves on in the python to the next part, not waiting for the second query to complete.  Is it the same solution?

[2022-01-04 11:55] hannahshachar commented on #185
I have the opposite problem, I have a statement that drops the table if it exists and then creates the table again with a long query.  As soon as it Drops the table, it moves on in the python to the next part, not waiting for the second query to complete.  Is it the same solution?

[2022-01-04 12:20] sitingren commented on #197
@hannahshachar Based on your description I think the answer is yes. Please read up to the README, especially the `nextset()` section: https://github.com/vertica/vertica-python#nextset

[2022-01-04 14:25] mi-volodin commented on #185
I think it might be connected to it, but it depends on how you process the result of your query.

Actually, in your case I would recommend to split the drop and create statements. From the database perspective any DDL operation closes transaction (or it is a transaction itself).

So your two consequent commands are actually independent transactions.

Hence, if it is a problem on the very first ste

[2022-01-04 14:33] hannahshachar commented on #185
We have tons of code (hundreds of scripts) that work fine this way with pyodbc, so we are looking for a solution that is not rewriting all of the code just to make it work in vertica_python.

[2022-01-06 07:42] mi-volodin commented on #185
Well, then it is best to investigate the real reason for your behavior. Or describe the case more specifically so others can do that.

From my point of view - it sounds more serious.
In my cases all statements were executed before I got the control back.

But all this happened years ago - there might be some significant changes to API or the way the statements are executed.

[2022-02-07 06:05] alan-delrio commented on #154
We addressed the issue like this. We noticed not all messages are evaluated
u.flush_vertica_errors(cursor)
    def flush_vertica_errors(self,curs):
        if(curs._message is None
           or isinstance(curs._message, vmes.ReadyForQuery)):
            return

        message=curs._message

        while True:
            if isinstance(message, vmes.ErrorResponse):
                raise verr.Con

[2022-02-18 08:22] sitingren commented on #154
This topic has been added into README: [Send Queries and Retrieve Results](https://github.com/vertica/vertica-python#send-queries-and-retrieve-results)
In short, the easiest way to evaluate all protocol messages is to call `fetchall()` and `nextset()`.

[2022-02-18 08:22] #154 closed

[2022-02-18 08:26] sitingren commented on #413
Close this issue because it has not had recent activity.

[2022-02-18 08:26] #413 closed

[2022-02-18 08:28] #393 closed

[2022-02-18 08:35] sitingren commented on #146
This issue is inactive for a long time. So far the conclusion is switching to another python interpreter such as Pypy rather than using the default CPython interpreter: [README FAQ](https://github.com/vertica/vertica-python#frequently-asked-questions-speech_balloon)

[2022-02-18 08:35] #146 closed

[2022-03-14 08:42] jannisko opened #434 "Add type hints to public API"
Adding type hints to the public API of this library would help users using static type checkers like mypy and pyright to write correct code. It also helps IDEs display more useful function hints.
I'd be happy to implement this for the most used functions like `connect`, `Connection.cursor` etc. Please let me know if you are interested.

[2022-03-15 11:32] sitingren commented on #434
Hi @jannisko, thanks for pointing this out! You are welcome to make a contribution. One reason we didn't add this enhancement is vertica-python supports multiple python versions, including python 2.7. Now I think it's good timing to make it happen.

[2022-03-16 12:48] oualib opened #435 "Do we have a doc with all the connection options?"
Hi,
I really need to know all the connection options we can use in the conn_info dictionary. I also need to know the possible types. It seems that there is no type check when creating the connection (example: if I set ssl to "False" (str data type), it will consider it as True).
Thanks,
Badr

[2022-03-17 04:29] #435 closed

[2022-03-21 19:50] p0m1d0rka opened #438 "Have issue when insert data with double qoute and use_prepared_statements=False"
`
import vertica_python

conn_info = {'host': '127.0.0.1',
             'port': 5433,
             'user': 'dbadmin',
             'password': '',
             'database': 'VMart',
             'session_label': 'some_label',
             'unicode_error': 'strict',
             'ssl': False,
             'autocommit': False,
             'use_prepared_statements': False,
             'connection_ti

[2022-03-22 02:13] h-serizawa commented on #438
Tested on vsql. It worked with the double-quote escaped by the backslash.

[code]

[code]

Checked the data sent by vertica-python to the database. In the case of the following data with the single backslash, the database received the data without the backslash.

`data = [('some text1', 'some test2'), ('some test3', '\"some\" text4')]`

[code]

In the case of the data with the double backslashes,